<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoEstadoCreateDlg" widgetVar="TipoEstadoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateTipoEstadoTitle}" closeOnEscape="true">

            <h:form id="TipoEstadoCreateForm">

                <h:panelGroup id="display" rendered="#{tipoEstadoController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateTipoEstadoLabel_estadoTipoEstado}" for="estadoTipoEstado" />
                        <p:inputText id="estadoTipoEstado" value="#{tipoEstadoController.selected.estadoTipoEstado}" title="#{myBundle.CreateTipoEstadoTitle_estadoTipoEstado}" required="true" requiredMessage="#{myBundle.CreateTipoEstadoRequiredMessage_estadoTipoEstado}" size="50" maxlength="50"/>
                    </p:panelGrid>
                    <p:commandButton styleClass="create" actionListener="#{tipoEstadoController.saveNew}" value="#{myBundle.Save}" update="display,:TipoEstadoListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('TipoEstadoCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton styleClass="cancel" value="#{myBundle.Cancel}" oncomplete="PF('TipoEstadoCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
