<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="TipoEstadoEditDlg" widgetVar="TipoEstadoEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditTipoEstadoTitle}" closeOnEscape="true">

            <h:form id="TipoEstadoEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{tipoEstadoController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditTipoEstadoLabel_idTipoEstado}" for="idTipoEstado" />
                        <h:outputText id="idTipoEstado" value="#{tipoEstadoController.selected.idTipoEstado}" />

                        <p:outputLabel value="#{myBundle.EditTipoEstadoLabel_estadoTipoEstado}" for="estadoTipoEstado" />
                        <p:inputText id="estadoTipoEstado" value="#{tipoEstadoController.selected.estadoTipoEstado}" title="#{myBundle.EditTipoEstadoTitle_estadoTipoEstado}" required="true" requiredMessage="#{myBundle.EditTipoEstadoRequiredMessage_estadoTipoEstado}" size="50" maxlength="50"/>
                    </p:panelGrid>
                    <p:commandButton styleClass="create" actionListener="#{tipoEstadoController.save}" value="#{myBundle.Save}" update="display,:TipoEstadoListForm:datalist,:TipoEstadoListForm:TipoEstadoDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('TipoEstadoEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton styleClass="cancel" value="#{myBundle.Cancel}" oncomplete="PF('TipoEstadoEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
