<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <style>
        .ui-panel .ui-panel-titlebar{
            background: #17A2B8;
        }

        .ui-datatable{
            border: 2px solid #343a40;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .create{
            background-color: #28a745 !important;
            border-color: #28a745 !important;
            border-radius: .25rem !important;
            background-image: none !important;
            color: #fff !important;
        }

        .cancel{
            background-color: #dc3545 !important;
            border-color: #dc3545 !important;
            border-radius: .25rem !important;
            background-image: none !important;
            color: #fff !important;

        }
    </style>
    <b:iconAwesome value="camera-retro" solid="true" style="display: none"/>
    <h:form id="TipoEstadoListForm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-muted text-center mt-5"> <i class="fas fa-unlock"></i> Estados </h1>
                    <br></br>
                    <p:panel header="#{myBundle.ListTipoEstadoTitle}">
                        <p:contextMenu id="TipoEstadoDataTableContextMenu" for="datalist">  
                            <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('TipoEstadoListForm:createButton').click();" icon="ui-icon-plus"/>
                            <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('TipoEstadoListForm:viewButton').click();" icon="ui-icon-search"/>
                            <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('TipoEstadoListForm:editButton').click();" icon="ui-icon-pencil"/>
                            <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('TipoEstadoListForm:deleteButton').click();" icon="ui-icon-trash"/>
                        </p:contextMenu>
                        <h:commandLink>
                            <p:graphicImage url="../../resources/images/excel.png" width="24"/>
                            <p:dataExporter type="xls" target="datalist" fileName="ferreterias" />
                        </h:commandLink>
                        <h:commandLink>
                            <p:graphicImage url="../../resources/images/pdf.png" width="24"/>
                            <p:dataExporter type="pdf" target="datalist" fileName="ferreterias"/>
                        </h:commandLink>  
                        <p:dataTable id="datalist"
                                     value="#{tipoEstadoController.items}"
                                     lazy="false"
                                     rowKey="#{item.idTipoEstado}"
                                     var="item"
                                     paginator="true"
                                     rows="10"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     selectionMode="single"
                                     selection="#{tipoEstadoController.selected}"
                                     filteredValue="#{tipoEstadoController.filteredItems}">
                            <!--
                                     To enable Lazy Loading, please copy/replace the following lines above,
                                     and be sure to replace the word HASH with the # symbol:
                            
                                     value="HASH{tipoEstadoController.lazyItems}"
                                     lazy="true"
                                     rowKey="HASH{item.idTipoEstado}"  <<< Remove this line
                            -->


                            <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:TipoEstadoDataTableContextMenu"/>
                            <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:TipoEstadoDataTableContextMenu"/>
                            <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton"/>
                            <p:ajax event="rowDblselect" onsuccess="document.getElementById('TipoEstadoListForm:viewButton').click();"/>

<!--                <p:column sortBy="#{item.idTipoEstado}" filterBy="#{item.idTipoEstado}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListTipoEstadoTitle_idTipoEstado}"/>
                    </f:facet>
                    <h:outputText value="#{item.idTipoEstado}"/>
                </p:column>-->


                            <p:column sortBy="#{item.estadoTipoEstado}" filterBy="#{item.estadoTipoEstado}">
                                <f:facet name="header">
                                    <h:outputText value="#{myBundle.ListTipoEstadoTitle_estadoTipoEstado}"/>
                                </f:facet>
                                <h:outputText value="#{item.estadoTipoEstado}"/>
                            </p:column>


                        </p:dataTable>

                        <p:commandButton id="createButton" styleClass="create"         icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{tipoEstadoController.prepareCreate}" update=":TipoEstadoCreateForm" oncomplete="PF('TipoEstadoCreateDialog').show()"/>
                        <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":TipoEstadoViewForm" oncomplete="PF('TipoEstadoViewDialog').show()" disabled="#{empty tipoEstadoController.selected}"/>
                        <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":TipoEstadoEditForm" oncomplete="PF('TipoEstadoEditDialog').show()" disabled="#{empty tipoEstadoController.selected}"/>
                        <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{tipoEstadoController.delete}" update=":growl,datalist" disabled="#{empty tipoEstadoController.selected}">
                            <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
                        </p:commandButton>

                    </p:panel>
                    <ui:include src="/confirmation.xhtml"/>
                </div>
            </div>
        </div>
    </h:form>

</ui:composition>