<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoEstadoViewDlg" widgetVar="TipoEstadoViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewTipoEstadoTitle}" closeOnEscape="true">

            <h:form id="TipoEstadoViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{tipoEstadoController.selected != null}">

                        <h:outputText value="#{myBundle.ViewTipoEstadoLabel_idTipoEstado}"/>
                        <h:outputText value="#{tipoEstadoController.selected.idTipoEstado}" title="#{myBundle.ViewTipoEstadoTitle_idTipoEstado}"/>

                        <h:outputText value="#{myBundle.ViewTipoEstadoLabel_estadoTipoEstado}"/>
                        <h:outputText value="#{tipoEstadoController.selected.estadoTipoEstado}" title="#{myBundle.ViewTipoEstadoTitle_estadoTipoEstado}"/>
                    </p:panelGrid>
                    <p:commandButton styleClass="cancel" value="#{myBundle.Close}" onclick="PF('TipoEstadoViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
