<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DescuentosCreateDlg" widgetVar="DescuentosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateDescuentosTitle}" closeOnEscape="true">

            <h:form id="DescuentosCreateForm">

                <h:panelGroup id="display" rendered="#{descuentosController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateDescuentosLabel_valorDescuento}" for="valorDescuento" />
                        <p:inputText id="valorDescuento" value="#{descuentosController.selected.valorDescuento}" title="#{myBundle.CreateDescuentosTitle_valorDescuento}" required="true" requiredMessage="#{myBundle.CreateDescuentosRequiredMessage_valorDescuento}"/>

                        <p:outputLabel value="#{myBundle.CreateDescuentosLabel_vigenciaDescuento}" for="vigenciaDescuento" />
                        <p:calendar id="vigenciaDescuento" pattern="MM/dd/yyyy" value="#{descuentosController.selected.vigenciaDescuento}" title="#{myBundle.CreateDescuentosTitle_vigenciaDescuento}" required="true" requiredMessage="#{myBundle.CreateDescuentosRequiredMessage_vigenciaDescuento}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateDescuentosLabel_idProducto}" for="idProducto" />
                        <p:selectOneMenu id="idProducto" value="#{descuentosController.selected.idProducto}" required="true" requiredMessage="#{myBundle.CreateDescuentosRequiredMessage_idProducto}" converter="productosConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{productosController.items}"
                                           var="idProductoItem"
                                           itemValue="#{idProductoItem}"
                                           itemLabel="#{idProductoItem.descripcionProducto.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton styleClass="create" actionListener="#{descuentosController.saveNew}" value="#{myBundle.Save}" update="display,:DescuentosListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('DescuentosCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton styleClass="cancel" value="#{myBundle.Cancel}" oncomplete="PF('DescuentosCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
