<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <style>
        .ui-panel .ui-panel-titlebar{
            background: #17A2B8;
        }

        .ui-datatable{
            border: 2px solid #343a40;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .create{
            background-color: #28a745 !important;
            border-color: #28a745 !important;
            border-radius: .25rem !important;
            background-image: none !important;
            color: #fff !important;
        }

        .cancel{
            background-color: #dc3545 !important;
            border-color: #dc3545 !important;
            border-radius: .25rem !important;
            background-image: none !important;
            color: #fff !important;

        }
    </style>
    <b:iconAwesome value="camera-retro" solid="true" style="display: none"/>
    <h:form id="DescuentosListForm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-muted text-center mt-5"> <i class="fas fa-hand-holding-usd"></i> Descuentos </h1>
                    <br></br>
                    <p:panel header="#{myBundle.ListDescuentosTitle}">
                        <p:contextMenu id="DescuentosDataTableContextMenu" for="datalist">  
                            <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('DescuentosListForm:createButton').click();" icon="ui-icon-plus"/>
                            <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('DescuentosListForm:viewButton').click();" icon="ui-icon-search"/>
                            <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('DescuentosListForm:editButton').click();" icon="ui-icon-pencil"/>
                            <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('DescuentosListForm:deleteButton').click();" icon="ui-icon-trash"/>
                            <p:separator/>
                            <p:menuitem value="Ver producto" icon="ui-icon-search"  actionListener="#{descuentosController.prepareIdProducto}" update=":ProductosViewForm" oncomplete="PF('ProductosViewDialog').show()" disabled="#{empty descuentosController.selected.idProducto}"/>  
                        </p:contextMenu>
                        <h:commandLink>
                            <p:graphicImage url="../../resources/images/excel.png" width="24"/>
                            <p:dataExporter type="xls" target="datalist" fileName="ferreterias" />
                        </h:commandLink>
                        <h:commandLink>
                            <p:graphicImage url="../../resources/images/pdf.png" width="24"/>
                            <p:dataExporter type="pdf" target="datalist" fileName="ferreterias"/>
                        </h:commandLink>  
                        <p:dataTable id="datalist"
                                     value="#{descuentosController.items}"
                                     lazy="false"
                                     rowKey="#{item.idDescuentos}"
                                     var="item"
                                     paginator="true"
                                     rows="10"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     selectionMode="single"
                                     selection="#{descuentosController.selected}"
                                     filteredValue="#{descuentosController.filteredItems}">
                            <!--
                                     To enable Lazy Loading, please copy/replace the following lines above,
                                     and be sure to replace the word HASH with the # symbol:
                            
                                     value="HASH{descuentosController.lazyItems}"
                                     lazy="true"
                                     rowKey="HASH{item.idDescuentos}"  <<< Remove this line
                            -->


                            <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:DescuentosDataTableContextMenu" listener="#{descuentosController.resetParents}"/>
                            <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:DescuentosDataTableContextMenu" listener="#{descuentosController.resetParents}"/>
                            <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{descuentosController.resetParents}"/>
                            <p:ajax event="rowDblselect" onsuccess="document.getElementById('DescuentosListForm:viewButton').click();"/>

<!--                <p:column sortBy="#{item.idDescuentos}" filterBy="#{item.idDescuentos}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListDescuentosTitle_idDescuentos}"/>
                    </f:facet>
                    <h:outputText value="#{item.idDescuentos}"/>
                </p:column>-->


                            <p:column sortBy="#{item.valorDescuento}" filterBy="#{item.valorDescuento}">
                                <f:facet name="header">
                                    <h:outputText value="#{myBundle.ListDescuentosTitle_valorDescuento}"/>
                                </f:facet>
                                <h:outputText value="#{item.valorDescuento}"/>
                            </p:column>


                            <p:column sortBy="#{item.vigenciaDescuento}" filterBy="#{item.vigenciaDescuento}">
                                <f:facet name="header">
                                    <h:outputText value="#{myBundle.ListDescuentosTitle_vigenciaDescuento}"/>
                                </f:facet>
                                <h:outputText value="#{item.vigenciaDescuento}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                            </p:column>


                            <p:column sortBy="#{item.idProducto.descripcionProducto}" filterBy="#{item.idProducto.descripcionProducto}">
                                <f:facet name="header">
                                    <h:outputText value="#{myBundle.ListDescuentosTitle_idProducto}"/>
                                </f:facet>
                                <h:outputText value="#{item.idProducto.descripcionProducto}"/>
                            </p:column>


                        </p:dataTable>

                        <p:commandButton id="createButton" styleClass="create"         icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{descuentosController.prepareCreate}" update=":DescuentosCreateForm" oncomplete="PF('DescuentosCreateDialog').show()"/>
                        <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":DescuentosViewForm" oncomplete="PF('DescuentosViewDialog').show()" disabled="#{empty descuentosController.selected}"/>
                        <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":DescuentosEditForm" oncomplete="PF('DescuentosEditDialog').show()" disabled="#{empty descuentosController.selected}"/>
                        <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{descuentosController.delete}" update=":growl,datalist" disabled="#{empty descuentosController.selected}">
                            <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
                        </p:commandButton>

                    </p:panel>
                    <ui:include src="/confirmation.xhtml"/>
                </div>
            </div>
        </div>
    </h:form>

</ui:composition>