<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DescuentosViewDlg" widgetVar="DescuentosViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewDescuentosTitle}" closeOnEscape="true">

            <h:form id="DescuentosViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{descuentosController.selected != null}">

                        <h:outputText value="#{myBundle.ViewDescuentosLabel_idDescuentos}"/>
                        <h:outputText value="#{descuentosController.selected.idDescuentos}" title="#{myBundle.ViewDescuentosTitle_idDescuentos}"/>

                        <h:outputText value="#{myBundle.ViewDescuentosLabel_valorDescuento}"/>
                        <h:outputText value="#{descuentosController.selected.valorDescuento}" title="#{myBundle.ViewDescuentosTitle_valorDescuento}"/>

                        <h:outputText value="#{myBundle.ViewDescuentosLabel_vigenciaDescuento}"/>
                        <h:outputText value="#{descuentosController.selected.vigenciaDescuento}" title="#{myBundle.ViewDescuentosTitle_vigenciaDescuento}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewDescuentosLabel_idProducto}"/>
                        <h:outputText value="#{descuentosController.selected.idProducto.descripcionProducto}"/>
                    </p:panelGrid>
                    <p:commandButton styleClass="cancel" value="#{myBundle.Close}" onclick="PF('DescuentosViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
