<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FerreteriasCreateDlg" widgetVar="FerreteriasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateFerreteriasTitle}" closeOnEscape="true">

            <h:form id="FerreteriasCreateForm">

                <h:panelGroup id="display" rendered="#{ferreteriasController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateFerreteriasLabel_nombreFerreteria}" for="nombreFerreteria" />
                        <p:inputText id="nombreFerreteria" value="#{ferreteriasController.selected.nombreFerreteria}" title="#{myBundle.CreateFerreteriasTitle_nombreFerreteria}" required="true" requiredMessage="#{myBundle.CreateFerreteriasRequiredMessage_nombreFerreteria}" size="150" maxlength="150"/>

                        <p:outputLabel value="#{myBundle.CreateFerreteriasLabel_telefonoFerreteria}" for="telefonoFerreteria" />
                        <p:inputText id="telefonoFerreteria" value="#{ferreteriasController.selected.telefonoFerreteria}" title="#{myBundle.CreateFerreteriasTitle_telefonoFerreteria}" required="true" requiredMessage="#{myBundle.CreateFerreteriasRequiredMessage_telefonoFerreteria}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreateFerreteriasLabel_direccionFerreteria}" for="direccionFerreteria" />
                        <p:inputText id="direccionFerreteria" value="#{ferreteriasController.selected.direccionFerreteria}" title="#{myBundle.CreateFerreteriasTitle_direccionFerreteria}" required="true" requiredMessage="#{myBundle.CreateFerreteriasRequiredMessage_direccionFerreteria}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreateFerreteriasLabel_paginaWebFerreteria}" for="paginaWebFerreteria" />
                        <p:inputText id="paginaWebFerreteria" value="#{ferreteriasController.selected.paginaWebFerreteria}" title="#{myBundle.CreateFerreteriasTitle_paginaWebFerreteria}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreateFerreteriasLabel_nitFerreteria}" for="nitFerreteria" />
                        <p:inputText id="nitFerreteria" value="#{ferreteriasController.selected.nitFerreteria}" title="#{myBundle.CreateFerreteriasTitle_nitFerreteria}" required="true" requiredMessage="#{myBundle.CreateFerreteriasRequiredMessage_nitFerreteria}" size="50" maxlength="50"/>

                        
                        <p:outputLabel value="#{myBundle.CreateFerreteriasLabel_latitud}" for="latitud" />
                        <p:inputText id="latitud" value="#{ferreteriasController.selected.latitud}" title="#{myBundle.CreateFerreteriasTitle_latitud}" required="true" requiredMessage="#{myBundle.CreateFerreteriasRequiredMessage_latitud}"/>

                        <p:outputLabel value="#{myBundle.CreateFerreteriasLabel_longitud}" for="longitud" />
                        <p:inputText id="longitud" value="#{ferreteriasController.selected.longitud}" title="#{myBundle.CreateFerreteriasTitle_longitud}" required="true" requiredMessage="#{myBundle.CreateFerreteriasRequiredMessage_longitud}"/>

                    </p:panelGrid>
                    <p:commandButton styleClass="create" actionListener="#{ferreteriasController.saveNew}" value="#{myBundle.Save}" update="display,:FerreteriasListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('FerreteriasCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton styleClass="cancel" value="#{myBundle.Cancel}" oncomplete="PF('FerreteriasCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
