<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="FerreteriasEditDlg" widgetVar="FerreteriasEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditFerreteriasTitle}" closeOnEscape="true">

            <h:form id="FerreteriasEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{ferreteriasController.selected2 != null}">


                        <h:outputLabel value="#{myBundle.EditFerreteriasLabel_idFerreteria}" for="idFerreteria" />
                        <h:outputText id="idFerreteria" value="#{ferreteriasController.selected2.idFerreteria}" />

                        <p:outputLabel value="#{myBundle.EditFerreteriasLabel_nombreFerreteria}" for="nombreFerreteria" />
                        <p:inputText id="nombreFerreteria" value="#{ferreteriasController.selected2.nombreFerreteria}" title="#{myBundle.EditFerreteriasTitle_nombreFerreteria}" required="true" requiredMessage="#{myBundle.EditFerreteriasRequiredMessage_nombreFerreteria}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditFerreteriasLabel_telefonoFerreteria}" for="telefonoFerreteria" />
                        <p:inputText id="telefonoFerreteria" value="#{ferreteriasController.selected2.telefonoFerreteria}" title="#{myBundle.EditFerreteriasTitle_telefonoFerreteria}" required="true" requiredMessage="#{myBundle.EditFerreteriasRequiredMessage_telefonoFerreteria}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditFerreteriasLabel_direccionFerreteria}" for="direccionFerreteria" />
                        <p:inputText id="direccionFerreteria" value="#{ferreteriasController.selected2.direccionFerreteria}" title="#{myBundle.EditFerreteriasTitle_direccionFerreteria}" required="true" requiredMessage="#{myBundle.EditFerreteriasRequiredMessage_direccionFerreteria}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditFerreteriasLabel_paginaWebFerreteria}" for="paginaWebFerreteria" />
                        <p:inputText id="paginaWebFerreteria" value="#{ferreteriasController.selected2.paginaWebFerreteria}" title="#{myBundle.EditFerreteriasTitle_paginaWebFerreteria}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditFerreteriasLabel_nitFerreteria}" for="nitFerreteria" />
                        <p:inputText id="nitFerreteria" value="#{ferreteriasController.selected2.nitFerreteria}" title="#{myBundle.EditFerreteriasTitle_nitFerreteria}" required="true" requiredMessage="#{myBundle.EditFerreteriasRequiredMessage_nitFerreteria}" size="50" maxlength="50"/>
                        
                        <p:outputLabel value="#{myBundle.EditFerreteriasLabel_latitud}" for="latitud" />
                        <p:inputText id="latitud" value="#{ferreteriasController.selected2.latitud}" title="#{myBundle.EditFerreteriasTitle_latitud}" required="true" requiredMessage="#{myBundle.EditFerreteriasRequiredMessage_latitud}" size="50" maxlength="50"/>
                        
                        <p:outputLabel value="#{myBundle.EditFerreteriasLabel_longitud}" for="longitud" />
                        <p:inputText id="longitud" value="#{ferreteriasController.selected2.longitud}" title="#{myBundle.EditFerreteriasTitle_longitud}" required="true" requiredMessage="#{myBundle.EditFerreteriasRequiredMessage_longitud}" size="50" maxlength="50"/>

                    </p:panelGrid>
                    <p:commandButton styleClass="create" actionListener="#{ferreteriasController.save}" value="#{myBundle.Save}" update="display,:FerreteriasListForm:datalist,:FerreteriasListForm:FerreteriasDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('FerreteriasEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton styleClass="cancel" value="#{myBundle.Cancel}" oncomplete="PF('FerreteriasEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
