<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <style>
        .ui-panel .ui-panel-titlebar{
            background: #17A2B8;
        }

        .ui-datatable{
            border: 2px solid #343a40;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .create{
            background-color: #28a745 !important;
            border-color: #28a745 !important;
            border-radius: .25rem !important;
            background-image: none !important;
            color: #fff !important;
        }

        .cancel{
            background-color: #dc3545 !important;
            border-color: #dc3545 !important;
            border-radius: .25rem !important;
            background-image: none !important;
            color: #fff !important;

        }
    </style>
    <b:iconAwesome value="camera-retro" solid="true" style="display: none"/>

    <h:form id="FerreteriasListForm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-muted text-center mt-5"> <i class="fas fas fa-store"></i> Ferreterias </h1>
                    <br></br>
                    <p:panel header="#{myBundle.ListFerreteriasTitle}">
                        <p:contextMenu id="FerreteriasDataTableContextMenu" for="datalist">  
                            <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('FerreteriasListForm:createButton').click();" icon="ui-icon-plus"/>
                            <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('FerreteriasListForm:viewButton').click();" icon="ui-icon-search"/>
                            <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('FerreteriasListForm:editButton').click();" icon="ui-icon-pencil"/>
                            <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('FerreteriasListForm:deleteButton').click();" icon="ui-icon-trash"/>
                            <p:menuitem value="Inventarios" url="/faces/ferreterias/inventariosIndex.xhtml" icon="pi pi-home"/>
                            <p:separator/>
                        </p:contextMenu>
                        <h:commandLink>
                            <p:graphicImage url="../../resources/images/excel.png" width="24"/>
                            <p:dataExporter type="xls" target="datalist" fileName="ferreterias" />
                        </h:commandLink>
                        <h:commandLink>
                            <p:graphicImage url="../../resources/images/pdf.png" width="24"/>
                            <p:dataExporter type="pdf" target="datalist" fileName="ferreterias"/>
                        </h:commandLink>     
                        <p:dataTable id="datalist"
                                     value="#{ferreteriasController.items}"
                                     lazy="false"
                                     rowKey="#{item.idFerreteria}"
                                     var="item"
                                     paginator="true"
                                     rows="10"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     selectionMode="single"
                                     selection="#{ferreteriasController.selected2}"
                                     filteredValue="#{ferreteriasController.filteredItems}">
                            <!--
                                     To enable Lazy Loading, please copy/replace the following lines above,
                                     and be sure to replace the word HASH with the # symbol:
                            
                                     value="HASH{ferreteriasController.lazyItems}"
                                     lazy="true"
                                     rowKey="HASH{item.idFerreteria}"  <<< Remove this line
                            -->

                            <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:FerreteriasDataTableContextMenu" listener="#{ferreteriasController.resetParents}"/>
                            <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:FerreteriasDataTableContextMenu" listener="#{ferreteriasController.resetParents}"/>
                            <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{ferreteriasController.resetParents}"/>
                            <p:ajax event="rowDblselect" onsuccess="document.getElementById('FerreteriasListForm:viewButton').click();"/>

<!--                <p:column sortBy="#{item.idFerreteria}" filterBy="#{item.idFerreteria}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListFerreteriasTitle_idFerreteria}"/>
                    </f:facet>
                    <h:outputText value="#{item.idFerreteria}"/>
                </p:column>-->


                            <p:column sortBy="#{item.nombreFerreteria}" filterBy="#{item.nombreFerreteria}">
                                <f:facet name="header">
                                    <h:outputText value="#{myBundle.ListFerreteriasTitle_nombreFerreteria}"/>
                                </f:facet>
                                <h:outputText value="#{item.nombreFerreteria}"/>
                            </p:column>


                            <p:column sortBy="#{item.telefonoFerreteria}" filterBy="#{item.telefonoFerreteria}">
                                <f:facet name="header">
                                    <h:outputText value="#{myBundle.ListFerreteriasTitle_telefonoFerreteria}"/>
                                </f:facet>
                                <h:outputText value="#{item.telefonoFerreteria}"/>
                            </p:column>


                            <p:column sortBy="#{item.direccionFerreteria}" filterBy="#{item.direccionFerreteria}">
                                <f:facet name="header">
                                    <h:outputText value="#{myBundle.ListFerreteriasTitle_direccionFerreteria}"/>
                                </f:facet>
                                <h:outputText value="#{item.direccionFerreteria}"/>
                            </p:column>


                            <p:column sortBy="#{item.paginaWebFerreteria}" filterBy="#{item.paginaWebFerreteria}">
                                <f:facet name="header">
                                    <h:outputText value="#{myBundle.ListFerreteriasTitle_paginaWebFerreteria}"/>
                                </f:facet>
                                <h:outputText value="#{item.paginaWebFerreteria}"/>
                            </p:column>


                            <p:column sortBy="#{item.nitFerreteria}" filterBy="#{item.nitFerreteria}">
                                <f:facet name="header">
                                    <h:outputText value="#{myBundle.ListFerreteriasTitle_nitFerreteria}"/>
                                </f:facet>
                                <h:outputText value="#{item.nitFerreteria}"/>
                            </p:column>


                            <p:column sortBy="#{item.longitud}" filterBy="#{item.longitud}">
                                <f:facet name="header">
                                    <h:outputText value="#{myBundle.ListFerreteriasTitle_longitud}"/>
                                </f:facet>
                                <h:outputText value="#{item.longitud}"/>
                            </p:column>


                            <p:column sortBy="#{item.latitud}" filterBy="#{item.latitud}">
                                <f:facet name="header">
                                    <h:outputText value="#{myBundle.ListFerreteriasTitle_latitud}"/>
                                </f:facet>
                                <h:outputText value="#{item.latitud}"/>
                            </p:column>


                            <!--                            <ui:remove>
                                                            <p:column sortBy="#{item.idUbicacion.idUbicacion}" filterBy="#{item.idUbicacion.idUbicacion}">
                                                                <f:facet name="header">
                                                                    <h:outputText value="#{myBundle.ListFerreteriasTitle_idUbicacion}"/>
                                                                </f:facet>
                                                                <h:outputText value="#{item.idUbicacion.idUbicacion}"/>
                                                            </p:column>
                                                        </ui:remove>-->

                        </p:dataTable>

                        <p:commandButton id="createButton" styleClass="create"         icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{ferreteriasController.prepareCreate}" update=":FerreteriasCreateForm" oncomplete="PF('FerreteriasCreateDialog').show()"/>
                        <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":FerreteriasViewForm" oncomplete="PF('FerreteriasViewDialog').show()" disabled="#{empty ferreteriasController.selected2}"/>
                        <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":FerreteriasEditForm" oncomplete="PF('FerreteriasEditDialog').show()" disabled="#{empty ferreteriasController.selected2}"/>
                        <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{ferreteriasController.delete}" update=":growl,datalist" disabled="#{empty ferreteriasController.selected2}">
                            <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
                        </p:commandButton>

                    </p:panel>
                    <ui:include src="/confirmation.xhtml"/>
                </div>
            </div>
        </div>
    </h:form>
</ui:composition>