<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FerreteriasViewDlg" widgetVar="FerreteriasViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewFerreteriasTitle}" closeOnEscape="true">

            <h:form id="FerreteriasViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{ferreteriasController.selected2 != null}">

                        <h:outputText value="#{myBundle.ViewFerreteriasLabel_idFerreteria}"/>
                        <h:outputText value="#{ferreteriasController.selected2.idFerreteria}" title="#{myBundle.ViewFerreteriasTitle_idFerreteria}"/>

                        <h:outputText value="#{myBundle.ViewFerreteriasLabel_nombreFerreteria}"/>
                        <h:outputText value="#{ferreteriasController.selected2.nombreFerreteria}" title="#{myBundle.ViewFerreteriasTitle_nombreFerreteria}"/>

                        <h:outputText value="#{myBundle.ViewFerreteriasLabel_telefonoFerreteria}"/>
                        <h:outputText value="#{ferreteriasController.selected2.telefonoFerreteria}" title="#{myBundle.ViewFerreteriasTitle_telefonoFerreteria}"/>

                        <h:outputText value="#{myBundle.ViewFerreteriasLabel_direccionFerreteria}"/>
                        <h:outputText value="#{ferreteriasController.selected2.direccionFerreteria}" title="#{myBundle.ViewFerreteriasTitle_direccionFerreteria}"/>

                        <h:outputText value="#{myBundle.ViewFerreteriasLabel_paginaWebFerreteria}"/>
                        <h:outputText value="#{ferreteriasController.selected2.paginaWebFerreteria}" title="#{myBundle.ViewFerreteriasTitle_paginaWebFerreteria}"/>

                        <h:outputText value="#{myBundle.ViewFerreteriasLabel_nitFerreteria}"/>
                        <h:outputText value="#{ferreteriasController.selected2.nitFerreteria}" title="#{myBundle.ViewFerreteriasTitle_nitFerreteria}"/>
                        
                        <h:outputText value="#{myBundle.ViewFerreteriasLabel_latitud}"/>
                        <h:outputText value="#{ferreteriasController.selected2.latitud}" title="#{myBundle.ViewFerreteriasTitle_latitud}"/>
                        
                        <h:outputText value="#{myBundle.ViewFerreteriasLabel_longitud}"/>
                        <h:outputText value="#{ferreteriasController.selected2.longitud}" title="#{myBundle.ViewFerreteriasTitle_longitud}"/>

<!--                        <h:outputText value="#{myBundle.ViewFerreteriasLabel_idUbicacion}"/>
                        <h:outputText value="#{ferreteriasController.selected2.idUbicacion.idUbicacion}"/>-->
                    </p:panelGrid>
                    <p:commandButton styleClass="cancel" value="#{myBundle.Close}" onclick="PF('FerreteriasViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
