<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="UbicacionCreatePage" lazy="true">
        <pm:header title="#{myBundle.CreateUbicacionTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:UbicacionListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="UbicacionCreateForm">

                <h:panelGroup id="display" rendered="#{ubicacionController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateUbicacionLabel_latitud}" for="latitud" />
                            <p:inputText id="latitud" value="#{ubicacionController.selected.latitud}" title="#{myBundle.CreateUbicacionTitle_latitud}" required="true" requiredMessage="#{myBundle.CreateUbicacionRequiredMessage_latitud}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateUbicacionLabel_longitud}" for="longitud" />
                            <p:inputText id="longitud" value="#{ubicacionController.selected.longitud}" title="#{myBundle.CreateUbicacionTitle_longitud}" required="true" requiredMessage="#{myBundle.CreateUbicacionRequiredMessage_longitud}"/>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{ubicacionController.saveNew}" value="#{myBundle.Save}" update="display,:UbicacionListPage:UbicacionListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:UbicacionListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>