<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <h:form id="menuForm">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/ferreteria/faces/index.xhtml">Ferreteria</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menú
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/ferreteria/faces/app/promociones/index.xhtml">#{myBundle.PromocionesHeading}</a>
                                <a class="dropdown-item" href="/ferreteria/faces/app/descuentos/index.xhtml">#{myBundle.DescuentosHeading}</a>
                                <a class="dropdown-item" href="/ferreteria/faces/app/inventarios/index.xhtml">#{myBundle.InventariosHeading}</a>
                                <a class="dropdown-item" href="/ferreteria/faces/app/ferreterias/index.xhtml">#{myBundle.FerreteriasHeading}</a>
                                <a class="dropdown-item" href="/ferreteria/faces/app/productos/index.xhtml">#{myBundle.ProductosHeading}</a>
                                <a class="dropdown-item" href="/ferreteria/faces/app/personas/index.xhtml">#{myBundle.PersonasHeading}</a>
                                <a class="dropdown-item" href="/ferreteria/faces/app/tipoEstado/index.xhtml">#{myBundle.TipoEstadoHeading}</a>
                                <a class="dropdown-item" href="/ferreteria/faces/app/categorias/index.xhtml">#{myBundle.CategoriasHeading}</a>
                                <a class="dropdown-item" href="/ferreteria/faces/app/ubicacion/index.xhtml">#{myBundle.UbicacionHeading}</a>
                                <a class="dropdown-item" href="/ferreteria/faces/app/tipoUsuarios/index.xhtml">#{myBundle.TipoUsuariosHeading}</a>
                                <a class="dropdown-item" href="/ferreteria/faces/mapa/index.xhtml">Mapa</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <p:commandButton styleClass="logout" actionListener="#{cerrarSesionController.cerrarSesion()}" value="Cerrar Sesión" action="/mapa?faces-redirect=true" />
            </nav>
            <p:menubar>
                <p:menuitem value="#{myBundle.Home}" outcome="/index" icon="ui-icon-home"/>
                <p:submenu label="#{myBundle.Maintenance}">
                    <p:menuitem value="#{myBundle.PromocionesHeading}..." outcome="/app/promociones/index" />
                    <p:menuitem value="#{myBundle.DescuentosHeading}..." outcome="/app/descuentos/index" />
                    <p:menuitem value="#{myBundle.InventariosHeading}..." outcome="/app/inventarios/index" />
                    <p:menuitem value="#{myBundle.FerreteriasHeading}..." outcome="/app/ferreterias/index" />
                    <p:menuitem value="#{myBundle.ProductosHeading}..." outcome="/app/productos/index" />
                    <p:menuitem value="#{myBundle.PersonasHeading}..." outcome="/app/personas/index" />
                    <p:menuitem value="#{myBundle.TipoEstadoHeading}..." outcome="/app/tipoEstado/index" />
                    <p:menuitem value="#{myBundle.CategoriasHeading}..." outcome="/app/categorias/index" />
                    <p:menuitem value="#{myBundle.UbicacionHeading}..." outcome="/app/ubicacion/index" />
                    <p:menuitem value="#{myBundle.TipoUsuariosHeading}..." outcome="/app/tipoUsuarios/index" />
                    <p:menuitem value="Mapa..." outcome="/mapa/index" />
                </p:submenu>
                <f:facet name="options">
                    <p:commandButton actionListener="#{cerrarSesionController.cerrarSesion()}" value="Cerrar Sesión" action="/mapa?faces-redirect=true" />
                </f:facet>
            </p:menubar>

        </h:form>
    </ui:composition>
</html>