<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/user.xhtml">
        <ui:define name="title">
            <h:outputText value="#{myBundles.AppName}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <p:panel header="#{myBundles.Welcome}" style="text-align:center">
                <p><h:outputText value="#{myBundles.WelcomeMessage}"></h:outputText></p>
                <!--<img src="assets/logo.jpg"></img>-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="text-muted"> Módulos del Sistema</h1>
                            <hr></hr>
                            <div class="col-md-12">
                                <div class="card-columns mb-5">
                                    <div class="card text-white mb-3 border-dark">
                                        <div class="card-header bg-dark ">Mapa</div>
                                        <a href="/ferreteria/faces/usersModule/mapaPerson.xhtml">
                                            <div class="card-body" style="height: 200px;">
                                                <div style="position: absolute; left:30%; top: 15%; font-size:130px;">
                                                    <b:iconAwesome value="camera-retro" solid="true" style="display: none"/>
                                                   <i class="fas fa-map-marked-alt" style="color:black;"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card text-white mb-3 border-dark">
                                        <div class="card-header bg-dark ">Mis datos</div>
                                        <a href="/ferreteria/faces/usersModule/personas/index.xhtml">
                                            <div class="card-body" style="height: 200px;">
                                                <div style="position: absolute; left:30%; top: 15%; font-size:130px;">
                                                    <i class="fas fa-users" style="color:black;"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </p:panel>

        </ui:define>

    </ui:composition>

</html>