<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{myBundles.AppName}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <p:panel header="#{myBundles.Welcome}" style="text-align:center">
                <p><h:outputText value="#{myBundles.WelcomeMessage}"></h:outputText></p>
                <!--<img src="assets/logo.jpg"></img>-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="text-muted"> Módulos del Sistema</h1>
                            <hr></hr>
                            <!--<div class="col-md-12">-->

                                <div class="row row-cols-1 row-cols-md-3">
                                    <div class="col mb-4">

                                        <div class="card text-white mb-3 border-dark">
                                            <div class="card-header bg-dark ">Mapa</div>
                                            <a href="/ferreteria/faces/mapa/index.xhtml">
                                                <div class="card-body" style="height: 200px;">
                                                    <div style="position: absolute; left:30%; top: 15%; font-size:130px;">
                                                        <b:iconAwesome value="camera-retro" solid="true" style="display: none"/>
                                                        <i class="fas fa-map-marked-alt" style="color:black;"></i>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col mb-4">
                                    <div class="card text-white mb-3 border-dark">
                                        <div class="card-header bg-dark ">Módulo Promociones</div>
                                        <a href="/ferreteria/faces/app/promociones/index.xhtml">
                                            <div class="card-body" style="height: 200px;">
                                                <div style="position: absolute; left:30%; top: 15%; font-size:130px;">
                                                    <i class="fas fa-wallet" style="color:black;"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                        
                                    </div>
                                    <div class="col mb-4">
                                    <div class="card text-white mb-3 border-dark">
                                        <div class="card-header bg-dark ">Módulo Descuentos</div>
                                        <a href="/ferreteria/faces/app/descuentos/index.xhtml">
                                            <div class="card-body" style="height: 200px;">
                                                <div style="position: absolute; left:30%; top: 15%; font-size:130px;">
                                                    <i class="fas fa-hand-holding-usd" style="color:black;"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                        
                                    </div>
                                    <div class="col mb-4">
                                        
                                    <div class="card text-white mb-3 border-dark">
                                        <div class="card-header bg-dark ">Módulo Inventarios</div>
                                        <a href="/ferreteria/faces/app/inventarios/index.xhtml">
                                            <div class="card-body" style="height: 200px;">
                                                <div style="position: absolute; left:30%; top: 15%; font-size:130px;">
                                                    <i class="fas fa-truck-loading" style="color:black;"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    </div>
                                    <div class="col mb-4">
                                        
                                    <div class="card text-white mb-3 border-dark">
                                        <div class="card-header bg-dark ">Módulo Ferreterias</div>
                                        <a href="/ferreteria/faces/app/ferreterias/index.xhtml">
                                            <div class="card-body" style="height: 200px;">
                                                <div style="position: absolute; left:30%; top: 15%; font-size:130px;">
                                                    <i class="fas fa-store" style="color:black;"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    </div>
                                    <div class="col mb-4">
                                    <div class="card text-white mb-3 border-dark">
                                        <div class="card-header bg-dark ">Módulo Productos</div>
                                        <a href="/ferreteria/faces/app/productos/index.xhtml">
                                            <div class="card-body" style="height: 200px;">
                                                <div style="position: absolute; left:30%; top: 15%; font-size:130px;">
                                                    <i class="fas fa-key" style="color:black;"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                        
                                    </div>
                                    <div class="col mb-4">
                                        
                                    <div class="card text-white mb-3 border-dark">
                                        <div class="card-header bg-dark ">Módulo Personas</div>
                                        <a href="/ferreteria/faces/app/personas/index.xhtml">
                                            <div class="card-body" style="height: 200px;">
                                                <div style="position: absolute; left:30%; top: 15%; font-size:130px;">
                                                    <i class="fas fa-users" style="color:black;"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    </div>
                                    <div class="col mb-4">
                                    <div class="card text-white mb-3 border-dark">
                                        <div class="card-header bg-dark ">Módulo Estados</div>
                                        <a href="/ferreteria/faces/app/tipoEstado/index.xhtml">
                                            <div class="card-body" style="height: 200px;">
                                                <div style="position: absolute; left:30%; top: 15%; font-size:130px;">
                                                    <i class="fas fa-unlock" style="color:black;"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                        
                                    </div>
                                    <div class="col mb-4">
                                        
                                    <div class="card text-white mb-3 border-dark">
                                        <div class="card-header bg-dark ">Módulo Categorias</div>
                                        <a href="/ferreteria/faces/app/categorias/index.xhtml">
                                            <div class="card-body" style="height: 200px;">
                                                <div style="position: absolute; left:30%; top: 15%; font-size:130px;">
                                                    <i class="fas fa-boxes" style="color:black;"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    </div>
                                    <div class="col mb-4">
                                        
                                        <div class="card text-white mb-3 border-dark">
                                            <div class="card-header bg-dark ">Módulo Tipo de Usuarios</div>
                                            <a href="/ferreteria/faces/app/tipoUsuarios/index.xhtml">
                                                <div class="card-body" style="height: 200px;">
                                                    <div style="position: absolute; left:30%; top: 15%; font-size:130px;">
                                                        <i class="fas fa-user-friends" style="color:black;"></i>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                <!--</div>-->

                            </div>
                        </div>
                    </div>
                </div>


            </p:panel>

        </ui:define>

    </ui:composition>

</html>