<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Ferreteria</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <!--<script src="js/graficos.js"></script>-->
        <script src="js/ubicacion.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

        <style>
            /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
            .row.content {height: 100vh}
            /* Set gray background color and 100% height */
            .sidenav {
                background-color: #f1f1f1;
                /*height: 125%;*/
            }
            /* Set black background color, white text and some padding */
            footer {
                background-color: #555;
                color: white;
                padding: 15px;
            }

            .mt-100{
                margin-top: 100px;
            }
            /* On small screens, set height to 'auto' for sidenav and grid */
            @media screen and (max-width: 767px) {
                .sidenav {
                    height: auto;
                    padding: 15px;
                }
                .row.content {height: auto;} 
            }
            #mapid { height: 100vh; }

            .modal-content{
                width:500px;
                padding: 20px;
                background-color: #ddd;
                margin-top: 100px;
            }

            .modal{
                /*margin-left:35vw;*/
                text-align: -webkit-center;
            }

            .col-sm-9{
                padding-right: 0px;
                padding-left: 0px;
            }
            

        </style>
    </h:head>
    <body onload="initialize()">
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1">Ferreteria</span>
            <button id="myBtn" type="button" class="btn btn-primary">Ingresar</button>
        </nav>

        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-3 sidenav">
                    <div class="mt-100">                        
                        <h:form>
                            <!-- MENSAJES DE ERROR -->
                            <p:messages autoUpdate="true" showDetail="true"/>
                            <canvas id="myChart" width="400" height="400"></canvas>
                            <canvas id="myChart2" width="400" height="400"></canvas>

                            <!-- Trigger/Open The Modal -->

                            <!-- The Modal -->
                            <div id="myModal" class="modal">


                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <h:panelGrid columns="2">

                                        <p:outputLabel for="txtUsuario" value="Usuario"/>
                                        <p:inputText id="txtUsuario" value="#{loginController.persona.usuarioPersona}" required="true"/>

                                        <p:outputLabel for="txtClave" value="Contraseña"/>
                                        <p:inputText id="txtClave" value="#{loginController.persona.clavePersona}" type="password" required="true"/>

                                        <h:column/>

                                        <p:commandButton icon="ui-icon-key" value="Iniciar Sesión" action="#{loginController.iniciarSesion()}" />

                                    </h:panelGrid>
                                </div>

                            </div>
                            <p:separator></p:separator>
                        </h:form>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div id="mapid"></div>

                </div>


            </div>
        </div>
    </body>
        <script src="js/modal.js"></script>

</html>