<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="pfcrud.css"/>
        <h:outputStylesheet library="css" name="bootstrap.min.css"/>
        <h:outputScript library="scripts" name="pfcrud.js"/>
        <h:outputScript library="js" name="popper.min.js"/>
        <h:outputScript library="js" name="bootstrap.min.js"/>

<!--<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
      rel="stylesheet" />-->
        <f:event type="preRenderView" listener="#{sesionController.verificarSesion()}" />
        <style>
            .ui-layout-unit-header{
                background: #17A2B8;
            }

            .ui-widget-content{
                border: #dddddd;
            }
            
            .ui-panel .ui-panel-titlebar{
                display: none;
            }
            
            .ui-menu.ui-menubar{
                display: none;
            }
            
            .logout{
                background-color: #007bff !important;
                color: #fff !important;
                border-color: #007bff !important;
                border-radius: .25rem !important;
                background-image: none !important;
            }
            
            .mb-4{
                min-width: 300px;
                max-width: 380px;
            }
        </style>
    </h:head>

    <h:body>
        <p:growl id="growl" life="3000"/>

        <p:layout fullPage="true">
            <!--<p:layoutUnit position="north" size="100" header="#{myBundle.AppName}">-->
            <p:layoutUnit position="north" size="100">
                <!-- Menu here. Also a layout and a way to log a user out -->

                <ui:include src="/appmenu.xhtml"/>
            </p:layoutUnit>
            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>

<!--            <p:layoutUnit position="south" size="90">
                <footer class="container-fluid">
                    <ui:insert name="footer"/>
                    <p style="text-align: center;font-size: 24px;">Uniremington Manizales 2020</p>
                </footer>
            </p:layoutUnit>-->

        </p:layout>

    </h:body>

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>

</html>