<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <h:form id="menuForm">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/ferreteria/faces/indexUser.xhtml">Ferreteria</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menú
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/ferreteria/faces/usersModule/personas/index.xhtml">#{myBundle.PersonasHeading}</a>
                                <a class="dropdown-item" href="/ferreteria/faces/usersModule/mapaPerson.xhtml">Mapa</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <p:commandButton styleClass="logout" actionListener="#{cerrarSesionController.cerrarSesion()}" value="Cerrar Sesión" action="/mapa?faces-redirect=true" />
            </nav>
            <p:menubar>
                <p:menuitem value="#{myBundle.Home}" outcome="/user" icon="ui-icon-home"/>
                <p:submenu label="#{myBundle.Maintenance}">
                    <p:menuitem value="#{myBundle.PersonasHeading}..." outcome="/usersModule/personas/index" />
                    <p:menuitem value="Mapa..." outcome="/usersModule/mapaPerson" />
                </p:submenu>
                <f:facet name="options">
                    <p:commandButton actionListener="#{cerrarSesionController.cerrarSesion()}" value="Cerrar Sesión" action="/mapa?faces-redirect=true" />
                </f:facet>
            </p:menubar>
        </h:form>
    </ui:composition>
</html>