<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoUsuariosCreateDlg" widgetVar="TipoUsuariosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateTipoUsuariosTitle}" closeOnEscape="true">

            <h:form id="TipoUsuariosCreateForm">

                <h:panelGroup id="display" rendered="#{tipoUsuariosController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateTipoUsuariosLabel_descripcionTipoUsuario}" for="descripcionTipoUsuario" />
                        <p:inputText id="descripcionTipoUsuario" value="#{tipoUsuariosController.selected.descripcionTipoUsuario}" title="#{myBundle.CreateTipoUsuariosTitle_descripcionTipoUsuario}" required="true" requiredMessage="#{myBundle.CreateTipoUsuariosRequiredMessage_descripcionTipoUsuario}" size="50" maxlength="50"/>
                    </p:panelGrid>
                    <p:commandButton styleClass="create" actionListener="#{tipoUsuariosController.saveNew}" value="#{myBundle.Save}" update="display,:TipoUsuariosListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('TipoUsuariosCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton styleClass="cancel" value="#{myBundle.Cancel}" oncomplete="PF('TipoUsuariosCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
