<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="TipoUsuariosEditDlg" widgetVar="TipoUsuariosEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditTipoUsuariosTitle}" closeOnEscape="true">

            <h:form id="TipoUsuariosEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{tipoUsuariosController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditTipoUsuariosLabel_idTipoUsuario}" for="idTipoUsuario" />
                        <h:outputText id="idTipoUsuario" value="#{tipoUsuariosController.selected.idTipoUsuario}" />

                        <p:outputLabel value="#{myBundle.EditTipoUsuariosLabel_descripcionTipoUsuario}" for="descripcionTipoUsuario" />
                        <p:inputText id="descripcionTipoUsuario" value="#{tipoUsuariosController.selected.descripcionTipoUsuario}" title="#{myBundle.EditTipoUsuariosTitle_descripcionTipoUsuario}" required="true" requiredMessage="#{myBundle.EditTipoUsuariosRequiredMessage_descripcionTipoUsuario}" size="50" maxlength="50"/>
                    </p:panelGrid>
                    <p:commandButton styleClass="create" actionListener="#{tipoUsuariosController.save}" value="#{myBundle.Save}" update="display,:TipoUsuariosListForm:datalist,:TipoUsuariosListForm:TipoUsuariosDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('TipoUsuariosEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton styleClass="cancel" value="#{myBundle.Cancel}" oncomplete="PF('TipoUsuariosEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
