<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <style>
        .ui-panel .ui-panel-titlebar{
            background: #17A2B8;
        }

        .ui-datatable{
            border: 2px solid #343a40;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .create{
            background-color: #28a745 !important;
            border-color: #28a745 !important;
            border-radius: .25rem !important;
            background-image: none !important;
            color: #fff !important;
        }

        .cancel{
            background-color: #dc3545 !important;
            border-color: #dc3545 !important;
            border-radius: .25rem !important;
            background-image: none !important;
            color: #fff !important;

        }
    </style>
    <b:iconAwesome value="camera-retro" solid="true" style="display: none"/>

    <h:form id="TipoUsuariosListForm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-muted text-center mt-5"> <i class="fas fas fa-user-friends"></i> Tipo de Usuarios </h1>
                    <br></br>
                    <p:panel header="#{myBundle.ListTipoUsuariosTitle}">
                        <p:contextMenu id="TipoUsuariosDataTableContextMenu" for="datalist">  
                            <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('TipoUsuariosListForm:createButton').click();" icon="ui-icon-plus"/>
                            <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('TipoUsuariosListForm:viewButton').click();" icon="ui-icon-search"/>
                            <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('TipoUsuariosListForm:editButton').click();" icon="ui-icon-pencil"/>
                            <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('TipoUsuariosListForm:deleteButton').click();" icon="ui-icon-trash"/>
                        </p:contextMenu>
                        <h:commandLink>
                            <p:graphicImage url="../../resources/images/excel.png" width="24"/>
                            <p:dataExporter type="xls" target="datalist" fileName="ferreterias" />
                        </h:commandLink>
                        <h:commandLink>
                            <p:graphicImage url="../../resources/images/pdf.png" width="24"/>
                            <p:dataExporter type="pdf" target="datalist" fileName="ferreterias"/>
                        </h:commandLink>  
                        <p:dataTable id="datalist"
                                     value="#{tipoUsuariosController.items}"
                                     lazy="false"
                                     rowKey="#{item.idTipoUsuario}"
                                     var="item"
                                     paginator="true"
                                     rows="10"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     selectionMode="single"
                                     selection="#{tipoUsuariosController.selected}"
                                     filteredValue="#{tipoUsuariosController.filteredItems}">
                            <!--
                                     To enable Lazy Loading, please copy/replace the following lines above,
                                     and be sure to replace the word HASH with the # symbol:
                            
                                     value="HASH{tipoUsuariosController.lazyItems}"
                                     lazy="true"
                                     rowKey="HASH{item.idTipoUsuario}"  <<< Remove this line
                            -->


                            <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:TipoUsuariosDataTableContextMenu"/>
                            <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:TipoUsuariosDataTableContextMenu"/>
                            <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton"/>
                            <p:ajax event="rowDblselect" onsuccess="document.getElementById('TipoUsuariosListForm:viewButton').click();"/>

<!--                <p:column sortBy="#{item.idTipoUsuario}" filterBy="#{item.idTipoUsuario}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListTipoUsuariosTitle_idTipoUsuario}"/>
                    </f:facet>
                    <h:outputText value="#{item.idTipoUsuario}"/>
                </p:column>-->


                            <p:column sortBy="#{item.descripcionTipoUsuario}" filterBy="#{item.descripcionTipoUsuario}">
                                <f:facet name="header">
                                    <h:outputText value="#{myBundle.ListTipoUsuariosTitle_descripcionTipoUsuario}"/>
                                </f:facet>
                                <h:outputText value="#{item.descripcionTipoUsuario}"/>
                            </p:column>


                        </p:dataTable>

                        <p:commandButton id="createButton" styleClass="create"         icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{tipoUsuariosController.prepareCreate}" update=":TipoUsuariosCreateForm" oncomplete="PF('TipoUsuariosCreateDialog').show()"/>
                        <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":TipoUsuariosViewForm" oncomplete="PF('TipoUsuariosViewDialog').show()" disabled="#{empty tipoUsuariosController.selected}"/>
                        <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":TipoUsuariosEditForm" oncomplete="PF('TipoUsuariosEditDialog').show()" disabled="#{empty tipoUsuariosController.selected}"/>
                        <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{tipoUsuariosController.delete}" update=":growl,datalist" disabled="#{empty tipoUsuariosController.selected}">
                            <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
                        </p:commandButton>

                    </p:panel>
                    <ui:include src="/confirmation.xhtml"/>
                </div>
            </div>
        </div>
    </h:form>

</ui:composition>