<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoUsuariosViewDlg" widgetVar="TipoUsuariosViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewTipoUsuariosTitle}" closeOnEscape="true">

            <h:form id="TipoUsuariosViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{tipoUsuariosController.selected != null}">

                        <h:outputText value="#{myBundle.ViewTipoUsuariosLabel_idTipoUsuario}"/>
                        <h:outputText value="#{tipoUsuariosController.selected.idTipoUsuario}" title="#{myBundle.ViewTipoUsuariosTitle_idTipoUsuario}"/>

                        <h:outputText value="#{myBundle.ViewTipoUsuariosLabel_descripcionTipoUsuario}"/>
                        <h:outputText value="#{tipoUsuariosController.selected.descripcionTipoUsuario}" title="#{myBundle.ViewTipoUsuariosTitle_descripcionTipoUsuario}"/>
                    </p:panelGrid>
                    <p:commandButton styleClass="cancel" value="#{myBundle.Close}" onclick="PF('TipoUsuariosViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
