<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="InventariosCreateDlg" widgetVar="InventariosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateInventariosTitle}" closeOnEscape="true">

            <h:form id="InventariosCreateForm">

                <h:panelGroup id="display" rendered="#{inventariosController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateInventariosLabel_cantidadProducto}" for="cantidadProducto" />
                        <p:inputText id="cantidadProducto" value="#{inventariosController.selected.cantidadProducto}" title="#{myBundle.CreateInventariosTitle_cantidadProducto}" required="true" requiredMessage="#{myBundle.CreateInventariosRequiredMessage_cantidadProducto}"/>

                        <p:outputLabel value="#{myBundle.CreateInventariosLabel_idFerreteria}" for="idFerreteria" />
                        <p:selectOneMenu id="idFerreteria" value="#{inventariosController.selected.idFerreteria}" required="true" requiredMessage="#{myBundle.CreateInventariosRequiredMessage_idFerreteria}" converter="ferreteriasConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{ferreteriasController.items}"
                                           var="idFerreteriaItem"
                                           itemValue="#{idFerreteriaItem}"
                                           itemLabel="#{idFerreteriaItem.nombreFerreteria.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateInventariosLabel_idProducto}" for="idProducto" />
                        <p:selectOneMenu id="idProducto" value="#{inventariosController.selected.idProducto}" required="true" requiredMessage="#{myBundle.CreateInventariosRequiredMessage_idProducto}" converter="productosConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{productosController.items}"
                                           var="idProductoItem"
                                           itemValue="#{idProductoItem}"
                                           itemLabel="#{idProductoItem.descripcionProducto.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton styleClass="create" actionListener="#{inventariosController.saveNew}" value="#{myBundle.Save}" update="display,:InventariosListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('InventariosCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton styleClass="cancel" value="#{myBundle.Cancel}" oncomplete="PF('InventariosCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
