<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="InventariosEditDlg" widgetVar="InventariosEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditInventariosTitle}" closeOnEscape="true">

            <h:form id="InventariosEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{inventariosController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditInventariosLabel_idInventario}" for="idInventario" />
                        <h:outputText id="idInventario" value="#{inventariosController.selected.idInventario}" />

                        <p:outputLabel value="#{myBundle.EditInventariosLabel_cantidadProducto}" for="cantidadProducto" />
                        <p:inputText id="cantidadProducto" value="#{inventariosController.selected.cantidadProducto}" title="#{myBundle.EditInventariosTitle_cantidadProducto}" required="true" requiredMessage="#{myBundle.EditInventariosRequiredMessage_cantidadProducto}"/>

                        <p:outputLabel value="#{myBundle.EditInventariosLabel_idFerreteria}" for="idFerreteria" />
                        <p:selectOneMenu id="idFerreteria" value="#{inventariosController.selected.idFerreteria}" required="true" requiredMessage="#{myBundle.EditInventariosRequiredMessage_idFerreteria}" converter="ferreteriasConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{ferreteriasController.items}"
                                           var="idFerreteriaItem"
                                           itemValue="#{idFerreteriaItem}"
                                           itemLabel="#{idFerreteriaItem.nombreFerreteria.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditInventariosLabel_idProducto}" for="idProducto" />
                        <p:selectOneMenu id="idProducto" value="#{inventariosController.selected.idProducto}" required="true" requiredMessage="#{myBundle.EditInventariosRequiredMessage_idProducto}" converter="productosConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{productosController.items}"
                                           var="idProductoItem"
                                           itemValue="#{idProductoItem}"
                                           itemLabel="#{idProductoItem.descripcionProducto.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton styleClass="create" actionListener="#{inventariosController.save}" value="#{myBundle.Save}" update="display,:InventariosListForm:datalist,:InventariosListForm:InventariosDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('InventariosEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton styleClass="cancel" value="#{myBundle.Cancel}" oncomplete="PF('InventariosEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
