<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="InventariosViewDlg" widgetVar="InventariosViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewInventariosTitle}" closeOnEscape="true">

            <h:form id="InventariosViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{inventariosController.selected != null}">

                        <h:outputText value="#{myBundle.ViewInventariosLabel_idInventario}"/>
                        <h:outputText value="#{inventariosController.selected.idInventario}" title="#{myBundle.ViewInventariosTitle_idInventario}"/>

                        <h:outputText value="#{myBundle.ViewInventariosLabel_cantidadProducto}"/>
                        <h:outputText value="#{inventariosController.selected.cantidadProducto}" title="#{myBundle.ViewInventariosTitle_cantidadProducto}"/>

                        <h:outputText value="#{myBundle.ViewInventariosLabel_idFerreteria}"/>
                        <h:outputText value="#{inventariosController.selected.idFerreteria.nombreFerreteria}"/>

                        <h:outputText value="#{myBundle.ViewInventariosLabel_idProducto}"/>
                        <h:outputText value="#{inventariosController.selected.idProducto.descripcionProducto}"/>
                    </p:panelGrid>
                    <p:commandButton styleClass="cancel" value="#{myBundle.Close}" onclick="PF('InventariosViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
