<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CategoriasCreateDlg" widgetVar="CategoriasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateCategoriasTitle}" closeOnEscape="true">

            <h:form id="CategoriasCreateForm">

                <h:panelGroup id="display" rendered="#{categoriasController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateCategoriasLabel_nombreCategoria}" for="nombreCategoria" />
                        <p:inputText id="nombreCategoria" value="#{categoriasController.selected.nombreCategoria}" title="#{myBundle.CreateCategoriasTitle_nombreCategoria}" required="true" requiredMessage="#{myBundle.CreateCategoriasRequiredMessage_nombreCategoria}" size="50" maxlength="50"/>
                    </p:panelGrid>
                    <p:commandButton styleClass="create" actionListener="#{categoriasController.saveNew}" value="#{myBundle.Save}" update="display,:CategoriasListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('CategoriasCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton styleClass="cancel" value="#{myBundle.Cancel}" oncomplete="PF('CategoriasCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
