<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="CategoriasEditDlg" widgetVar="CategoriasEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditCategoriasTitle}" closeOnEscape="true">

            <h:form id="CategoriasEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{categoriasController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditCategoriasLabel_idCategoria}" for="idCategoria" />
                        <h:outputText id="idCategoria" value="#{categoriasController.selected.idCategoria}" />

                        <p:outputLabel value="#{myBundle.EditCategoriasLabel_nombreCategoria}" for="nombreCategoria" />
                        <p:inputText id="nombreCategoria" value="#{categoriasController.selected.nombreCategoria}" title="#{myBundle.EditCategoriasTitle_nombreCategoria}" required="true" requiredMessage="#{myBundle.EditCategoriasRequiredMessage_nombreCategoria}" size="50" maxlength="50"/>
                    </p:panelGrid>
                    <p:commandButton styleClass="create" actionListener="#{categoriasController.save}" value="#{myBundle.Save}" update="display,:CategoriasListForm:datalist,:CategoriasListForm:CategoriasDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('CategoriasEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton styleClass="cancel" value="#{myBundle.Cancel}" oncomplete="PF('CategoriasEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
