<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CategoriasViewDlg" widgetVar="CategoriasViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewCategoriasTitle}" closeOnEscape="true">

            <h:form id="CategoriasViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{categoriasController.selected != null}">

                        <h:outputText value="#{myBundle.ViewCategoriasLabel_idCategoria}"/>
                        <h:outputText value="#{categoriasController.selected.idCategoria}" title="#{myBundle.ViewCategoriasTitle_idCategoria}"/>

                        <h:outputText value="#{myBundle.ViewCategoriasLabel_nombreCategoria}"/>
                        <h:outputText value="#{categoriasController.selected.nombreCategoria}" title="#{myBundle.ViewCategoriasTitle_nombreCategoria}"/>
                    </p:panelGrid>
                    <p:commandButton styleClass="cancel" value="#{myBundle.Close}" onclick="PF('CategoriasViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
