<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductosCreateDlg" widgetVar="ProductosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateProductosTitle}" closeOnEscape="true">

            <h:form id="ProductosCreateForm">

                <h:panelGroup id="display" rendered="#{productosController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateProductosLabel_nombreProducto}" for="nombreProducto" />
                        <p:inputText id="nombreProducto" value="#{productosController.selected.nombreProducto}" title="#{myBundle.CreateProductosTitle_nombreProducto}" required="true" requiredMessage="#{myBundle.CreateProductosRequiredMessage_nombreProducto}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreateProductosLabel_referenciaProducto}" for="referenciaProducto" />
                        <p:inputText id="referenciaProducto" value="#{productosController.selected.referenciaProducto}" title="#{myBundle.CreateProductosTitle_referenciaProducto}" required="true" requiredMessage="#{myBundle.CreateProductosRequiredMessage_referenciaProducto}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreateProductosLabel_precioProducto}" for="precioProducto" />
                        <p:inputText id="precioProducto" value="#{productosController.selected.precioProducto}" title="#{myBundle.CreateProductosTitle_precioProducto}" required="true" requiredMessage="#{myBundle.CreateProductosRequiredMessage_precioProducto}"/>

                        <p:outputLabel value="#{myBundle.CreateProductosLabel_descripcionProducto}" for="descripcionProducto" />
                        <p:inputText id="descripcionProducto" value="#{productosController.selected.descripcionProducto}" title="#{myBundle.CreateProductosTitle_descripcionProducto}" required="true" requiredMessage="#{myBundle.CreateProductosRequiredMessage_descripcionProducto}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreateProductosLabel_idCategoria}" for="idCategoria" />
                        <p:selectOneMenu id="idCategoria" value="#{productosController.selected.idCategoria}" required="true" requiredMessage="#{myBundle.CreateProductosRequiredMessage_idCategoria}" converter="categoriasConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{categoriasController.items}"
                                           var="idCategoriaItem"
                                           itemValue="#{idCategoriaItem}"
                                           itemLabel="#{idCategoriaItem.nombreCategoria.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton styleClass="create" actionListener="#{productosController.saveNew}" value="#{myBundle.Save}" update="display,:ProductosListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ProductosCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton styleClass="cancel" value="#{myBundle.Cancel}" oncomplete="PF('ProductosCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
