<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ProductosEditDlg" widgetVar="ProductosEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditProductosTitle}" closeOnEscape="true">

            <h:form id="ProductosEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{productosController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditProductosLabel_idProducto}" for="idProducto" />
                        <h:outputText id="idProducto" value="#{productosController.selected.idProducto}" />

                        <p:outputLabel value="#{myBundle.EditProductosLabel_nombreProducto}" for="nombreProducto" />
                        <p:inputText id="nombreProducto" value="#{productosController.selected.nombreProducto}" title="#{myBundle.EditProductosTitle_nombreProducto}" required="true" requiredMessage="#{myBundle.EditProductosRequiredMessage_nombreProducto}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditProductosLabel_referenciaProducto}" for="referenciaProducto" />
                        <p:inputText id="referenciaProducto" value="#{productosController.selected.referenciaProducto}" title="#{myBundle.EditProductosTitle_referenciaProducto}" required="true" requiredMessage="#{myBundle.EditProductosRequiredMessage_referenciaProducto}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditProductosLabel_precioProducto}" for="precioProducto" />
                        <p:inputText id="precioProducto" value="#{productosController.selected.precioProducto}" title="#{myBundle.EditProductosTitle_precioProducto}" required="true" requiredMessage="#{myBundle.EditProductosRequiredMessage_precioProducto}"/>

                        <p:outputLabel value="#{myBundle.EditProductosLabel_descripcionProducto}" for="descripcionProducto" />
                        <p:inputText id="descripcionProducto" value="#{productosController.selected.descripcionProducto}" title="#{myBundle.EditProductosTitle_descripcionProducto}" required="true" requiredMessage="#{myBundle.EditProductosRequiredMessage_descripcionProducto}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditProductosLabel_idCategoria}" for="idCategoria" />
                        <p:selectOneMenu id="idCategoria" value="#{productosController.selected.idCategoria}" required="true" requiredMessage="#{myBundle.EditProductosRequiredMessage_idCategoria}" converter="categoriasConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{categoriasController.items}"
                                           var="idCategoriaItem"
                                           itemValue="#{idCategoriaItem}"
                                           itemLabel="#{idCategoriaItem.nombreCategoria.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton styleClass="create" actionListener="#{productosController.save}" value="#{myBundle.Save}" update="display,:ProductosListForm:datalist,:ProductosListForm:ProductosDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ProductosEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton styleClass="cancel" value="#{myBundle.Cancel}" oncomplete="PF('ProductosEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
