<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <style>
        .ui-panel .ui-panel-titlebar{
            background: #17A2B8;
        }

        .ui-datatable{
            border: 2px solid #343a40;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .create{
            background-color: #28a745 !important;
            border-color: #28a745 !important;
            border-radius: .25rem !important;
            background-image: none !important;
            color: #fff !important;
        }

        .cancel{
            background-color: #dc3545 !important;
            border-color: #dc3545 !important;
            border-radius: .25rem !important;
            background-image: none !important;
            color: #fff !important;

        }
    </style>
    <b:iconAwesome value="camera-retro" solid="true" style="display: none"/>

    <h:form id="ProductosListForm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-muted text-center mt-5"> <i class="fas fa-key"></i> Productos </h1>
                    <br></br>
                    <p:panel header="#{myBundle.ListProductosTitle}">
                        <p:contextMenu id="ProductosDataTableContextMenu" for="datalist">  
                            <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('ProductosListForm:createButton').click();" icon="ui-icon-plus"/>
                            <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('ProductosListForm:viewButton').click();" icon="ui-icon-search"/>
                            <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('ProductosListForm:editButton').click();" icon="ui-icon-pencil"/>
                            <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('ProductosListForm:deleteButton').click();" icon="ui-icon-trash"/>
                            <p:separator/>
                            <p:menuitem value="#{myBundle.ProductosMenuItem_idCategoria}" icon="ui-icon-search"  actionListener="#{productosController.prepareIdCategoria}" update=":CategoriasViewForm" oncomplete="PF('CategoriasViewDialog').show()" disabled="#{empty productosController.selected.idCategoria}"/>  
                        </p:contextMenu>
                        <h:commandLink>
                            <p:graphicImage url="../../resources/images/excel.png" width="24"/>
                            <p:dataExporter type="xls" target="datalist" fileName="ferreterias" />
                        </h:commandLink>
                        <h:commandLink>
                            <p:graphicImage url="../../resources/images/pdf.png" width="24"/>
                            <p:dataExporter type="pdf" target="datalist" fileName="ferreterias"/>
                        </h:commandLink>  
                        <p:dataTable id="datalist"
                                     value="#{productosController.items}"
                                     lazy="false"
                                     rowKey="#{item.idProducto}"
                                     var="item"
                                     paginator="true"
                                     rows="10"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     selectionMode="single"
                                     selection="#{productosController.selected}"
                                     filteredValue="#{productosController.filteredItems}">
                            <!--
                                     To enable Lazy Loading, please copy/replace the following lines above,
                                     and be sure to replace the word HASH with the # symbol:
                            
                                     value="HASH{productosController.lazyItems}"
                                     lazy="true"
                                     rowKey="HASH{item.idProducto}"  <<< Remove this line
                            -->


                            <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:ProductosDataTableContextMenu" listener="#{productosController.resetParents}"/>
                            <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:ProductosDataTableContextMenu" listener="#{productosController.resetParents}"/>
                            <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{productosController.resetParents}"/>
                            <p:ajax event="rowDblselect" onsuccess="document.getElementById('ProductosListForm:viewButton').click();"/>

<!--                <p:column sortBy="#{item.idProducto}" filterBy="#{item.idProducto}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListProductosTitle_idProducto}"/>
                    </f:facet>
                    <h:outputText value="#{item.idProducto}"/>
                </p:column>-->


                            <p:column sortBy="#{item.nombreProducto}" filterBy="#{item.nombreProducto}">
                                <f:facet name="header">
                                    <h:outputText value="#{myBundle.ListProductosTitle_nombreProducto}"/>
                                </f:facet>
                                <h:outputText value="#{item.nombreProducto}"/>
                            </p:column>


                            <p:column sortBy="#{item.referenciaProducto}" filterBy="#{item.referenciaProducto}">
                                <f:facet name="header">
                                    <h:outputText value="#{myBundle.ListProductosTitle_referenciaProducto}"/>
                                </f:facet>
                                <h:outputText value="#{item.referenciaProducto}"/>
                            </p:column>


                            <p:column sortBy="#{item.precioProducto}" filterBy="#{item.precioProducto}">
                                <f:facet name="header">
                                    <h:outputText value="#{myBundle.ListProductosTitle_precioProducto}"/>
                                </f:facet>
                                <h:outputText value="#{item.precioProducto}"/>
                            </p:column>


                            <p:column sortBy="#{item.descripcionProducto}" filterBy="#{item.descripcionProducto}">
                                <f:facet name="header">
                                    <h:outputText value="#{myBundle.ListProductosTitle_descripcionProducto}"/>
                                </f:facet>
                                <h:outputText value="#{item.descripcionProducto}"/>
                            </p:column>


                            <p:column sortBy="#{item.idCategoria.idCategoria}" filterBy="#{item.idCategoria.idCategoria}">
                                <f:facet name="header">
                                    <h:outputText value="#{myBundle.ListProductosTitle_idCategoria}"/>
                                </f:facet>
                                <h:outputText value="#{item.idCategoria.nombreCategoria}"/>
                            </p:column>


                        </p:dataTable>

                        <p:commandButton id="createButton" styleClass="create"         icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{productosController.prepareCreate}" update=":ProductosCreateForm" oncomplete="PF('ProductosCreateDialog').show()"/>
                        <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":ProductosViewForm" oncomplete="PF('ProductosViewDialog').show()" disabled="#{empty productosController.selected}"/>
                        <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":ProductosEditForm" oncomplete="PF('ProductosEditDialog').show()" disabled="#{empty productosController.selected}"/>
                        <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{productosController.delete}" update=":growl,datalist" disabled="#{empty productosController.selected}">
                            <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
                        </p:commandButton>

                    </p:panel>
                    <ui:include src="/confirmation.xhtml"/>
                </div>
            </div>
        </div>

    </h:form>

</ui:composition>