<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductosViewDlg" widgetVar="ProductosViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewProductosTitle}" closeOnEscape="true">

            <h:form id="ProductosViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{productosController.selected != null}">

                        <h:outputText value="#{myBundle.ViewProductosLabel_idProducto}"/>
                        <h:outputText value="#{productosController.selected.idProducto}" title="#{myBundle.ViewProductosTitle_idProducto}"/>

                        <h:outputText value="#{myBundle.ViewProductosLabel_nombreProducto}"/>
                        <h:outputText value="#{productosController.selected.nombreProducto}" title="#{myBundle.ViewProductosTitle_nombreProducto}"/>

                        <h:outputText value="#{myBundle.ViewProductosLabel_referenciaProducto}"/>
                        <h:outputText value="#{productosController.selected.referenciaProducto}" title="#{myBundle.ViewProductosTitle_referenciaProducto}"/>

                        <h:outputText value="#{myBundle.ViewProductosLabel_precioProducto}"/>
                        <h:outputText value="#{productosController.selected.precioProducto}" title="#{myBundle.ViewProductosTitle_precioProducto}"/>

                        <h:outputText value="#{myBundle.ViewProductosLabel_descripcionProducto}"/>
                        <h:outputText value="#{productosController.selected.descripcionProducto}" title="#{myBundle.ViewProductosTitle_descripcionProducto}"/>

                        <h:outputText value="#{myBundle.ViewProductosLabel_idCategoria}"/>
                        <h:outputText value="#{productosController.selected.idCategoria.nombreCategoria}"/>
                    </p:panelGrid>
                    <p:commandButton styleClass="cancel" value="#{myBundle.Close}" onclick="PF('ProductosViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
