<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DetalleFacturaCreateDlg" widgetVar="DetalleFacturaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateDetalleFacturaTitle}" closeOnEscape="true">

            <h:form id="DetalleFacturaCreateForm">

                <h:panelGroup id="display" rendered="#{detalleFacturaController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateDetalleFacturaLabel_idProducto}" for="idProducto" />
                        <p:inputText id="idProducto" value="#{detalleFacturaController.selected.idProducto}" title="#{myBundle.CreateDetalleFacturaTitle_idProducto}" required="true" requiredMessage="#{myBundle.CreateDetalleFacturaRequiredMessage_idProducto}"/>

                        <p:outputLabel value="#{myBundle.CreateDetalleFacturaLabel_idFerreteria}" for="idFerreteria" />
                        <p:inputText id="idFerreteria" value="#{detalleFacturaController.selected.idFerreteria}" title="#{myBundle.CreateDetalleFacturaTitle_idFerreteria}" required="true" requiredMessage="#{myBundle.CreateDetalleFacturaRequiredMessage_idFerreteria}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{detalleFacturaController.saveNew}" value="#{myBundle.Save}" update="display,:DetalleFacturaListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('DetalleFacturaCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('DetalleFacturaCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
