<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="DetalleFacturaEditDlg" widgetVar="DetalleFacturaEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditDetalleFacturaTitle}" closeOnEscape="true">

            <h:form id="DetalleFacturaEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{detalleFacturaController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditDetalleFacturaLabel_idDetalleFactura}" for="idDetalleFactura" />
                        <h:outputText id="idDetalleFactura" value="#{detalleFacturaController.selected.idDetalleFactura}" />

                        <p:outputLabel value="#{myBundle.EditDetalleFacturaLabel_idProducto}" for="idProducto" />
                        <p:inputText id="idProducto" value="#{detalleFacturaController.selected.idProducto}" title="#{myBundle.EditDetalleFacturaTitle_idProducto}" required="true" requiredMessage="#{myBundle.EditDetalleFacturaRequiredMessage_idProducto}"/>

                        <p:outputLabel value="#{myBundle.EditDetalleFacturaLabel_idFerreteria}" for="idFerreteria" />
                        <p:inputText id="idFerreteria" value="#{detalleFacturaController.selected.idFerreteria}" title="#{myBundle.EditDetalleFacturaTitle_idFerreteria}" required="true" requiredMessage="#{myBundle.EditDetalleFacturaRequiredMessage_idFerreteria}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{detalleFacturaController.save}" value="#{myBundle.Save}" update="display,:DetalleFacturaListForm:datalist,:DetalleFacturaListForm:DetalleFacturaDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('DetalleFacturaEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('DetalleFacturaEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
