<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    
    <style>
        .ui-panel .ui-panel-titlebar{
            background: #17A2B8;
        }
        
        .ui-datatable{
            border: 2px solid #17A2B8;
        }
    </style>

    <h:form id="DetalleFacturaListForm">

        <p:panel header="#{myBundle.ListDetalleFacturaTitle}">
            <p:contextMenu id="DetalleFacturaDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('DetalleFacturaListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('DetalleFacturaListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('DetalleFacturaListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('DetalleFacturaListForm:deleteButton').click();" icon="ui-icon-trash"/>
            </p:contextMenu>
            <h:commandLink>
                            <p:graphicImage url="../../resources/images/excel.png" width="24"/>
                            <p:dataExporter type="xls" target="datalist" fileName="ferreterias" />
                        </h:commandLink>
                        <h:commandLink>
                            <p:graphicImage url="../../resources/images/pdf.png" width="24"/>
                            <p:dataExporter type="pdf" target="datalist" fileName="ferreterias"/>
                        </h:commandLink>  
            <p:dataTable id="datalist"
                         value="#{detalleFacturaController.items}"
                         lazy="false"
                         rowKey="#{item.idDetalleFactura}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{detalleFacturaController.selected}"
                         filteredValue="#{detalleFacturaController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{detalleFacturaController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.idDetalleFactura}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:DetalleFacturaDataTableContextMenu"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:DetalleFacturaDataTableContextMenu"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('DetalleFacturaListForm:viewButton').click();"/>

<!--                <p:column sortBy="#{item.idDetalleFactura}" filterBy="#{item.idDetalleFactura}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListDetalleFacturaTitle_idDetalleFactura}"/>
                    </f:facet>
                    <h:outputText value="#{item.idDetalleFactura}"/>
                </p:column>-->


                <p:column sortBy="#{item.idProducto}" filterBy="#{item.idProducto}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListDetalleFacturaTitle_idProducto}"/>
                    </f:facet>
                    <h:outputText value="#{item.idProducto}"/>
                </p:column>


                <p:column sortBy="#{item.idFerreteria}" filterBy="#{item.idFerreteria}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListDetalleFacturaTitle_idFerreteria}"/>
                    </f:facet>
                    <h:outputText value="#{item.idFerreteria}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{detalleFacturaController.prepareCreate}" update=":DetalleFacturaCreateForm" oncomplete="PF('DetalleFacturaCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":DetalleFacturaViewForm" oncomplete="PF('DetalleFacturaViewDialog').show()" disabled="#{empty detalleFacturaController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":DetalleFacturaEditForm" oncomplete="PF('DetalleFacturaEditDialog').show()" disabled="#{empty detalleFacturaController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{detalleFacturaController.delete}" update=":growl,datalist" disabled="#{empty detalleFacturaController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>