<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DetalleFacturaViewDlg" widgetVar="DetalleFacturaViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewDetalleFacturaTitle}" closeOnEscape="true">

            <h:form id="DetalleFacturaViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{detalleFacturaController.selected != null}">

                        <h:outputText value="#{myBundle.ViewDetalleFacturaLabel_idDetalleFactura}"/>
                        <h:outputText value="#{detalleFacturaController.selected.idDetalleFactura}" title="#{myBundle.ViewDetalleFacturaTitle_idDetalleFactura}"/>

                        <h:outputText value="#{myBundle.ViewDetalleFacturaLabel_idProducto}"/>
                        <h:outputText value="#{detalleFacturaController.selected.idProducto}" title="#{myBundle.ViewDetalleFacturaTitle_idProducto}"/>

                        <h:outputText value="#{myBundle.ViewDetalleFacturaLabel_idFerreteria}"/>
                        <h:outputText value="#{detalleFacturaController.selected.idFerreteria}" title="#{myBundle.ViewDetalleFacturaTitle_idFerreteria}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('DetalleFacturaViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
