<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersonasCreateDlg" widgetVar="PersonasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreatePersonasTitle}" closeOnEscape="true">

            <h:form id="PersonasCreateForm">

                <h:panelGroup id="display" rendered="#{personasController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreatePersonasLabel_cedulaPersona}" for="cedulaPersona" />
                        <p:inputText id="cedulaPersona" value="#{personasController.selected.cedulaPersona}" title="#{myBundle.CreatePersonasTitle_cedulaPersona}" required="true" requiredMessage="#{myBundle.CreatePersonasRequiredMessage_cedulaPersona}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreatePersonasLabel_nombrePersona}" for="nombrePersona" />
                        <p:inputText id="nombrePersona" value="#{personasController.selected.nombrePersona}" title="#{myBundle.CreatePersonasTitle_nombrePersona}" required="true" requiredMessage="#{myBundle.CreatePersonasRequiredMessage_nombrePersona}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreatePersonasLabel_apellidoPersona}" for="apellidoPersona" />
                        <p:inputText id="apellidoPersona" value="#{personasController.selected.apellidoPersona}" title="#{myBundle.CreatePersonasTitle_apellidoPersona}" required="true" requiredMessage="#{myBundle.CreatePersonasRequiredMessage_apellidoPersona}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreatePersonasLabel_direccionPersona}" for="direccionPersona" />
                        <p:inputText id="direccionPersona" value="#{personasController.selected.direccionPersona}" title="#{myBundle.CreatePersonasTitle_direccionPersona}" required="true" requiredMessage="#{myBundle.CreatePersonasRequiredMessage_direccionPersona}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreatePersonasLabel_telefonoPersona}" for="telefonoPersona" />
                        <p:inputText id="telefonoPersona" value="#{personasController.selected.telefonoPersona}" title="#{myBundle.CreatePersonasTitle_telefonoPersona}" required="true" requiredMessage="#{myBundle.CreatePersonasRequiredMessage_telefonoPersona}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreatePersonasLabel_fechaNacimiento}" for="fechaNacimiento" />
                        <p:calendar id="fechaNacimiento" pattern="MM/dd/yyyy" value="#{personasController.selected.fechaNacimiento}" title="#{myBundle.CreatePersonasTitle_fechaNacimiento}" required="true" requiredMessage="#{myBundle.CreatePersonasRequiredMessage_fechaNacimiento}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreatePersonasLabel_tipoPersonaPersona}" for="tipoPersonaPersona" />
                        <p:inputText id="tipoPersonaPersona" value="#{personasController.selected.tipoPersonaPersona}" title="#{myBundle.CreatePersonasTitle_tipoPersonaPersona}" required="true" requiredMessage="#{myBundle.CreatePersonasRequiredMessage_tipoPersonaPersona}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreatePersonasLabel_usuarioPersona}" for="usuarioPersona" />
                        <p:inputText id="usuarioPersona" value="#{personasController.selected.usuarioPersona}" title="#{myBundle.CreatePersonasTitle_usuarioPersona}" required="true" requiredMessage="#{myBundle.CreatePersonasRequiredMessage_usuarioPersona}" size="20" maxlength="20"/>

                        <p:outputLabel value="#{myBundle.CreatePersonasLabel_clavePersona}" for="clavePersona" />
                        <p:inputText id="clavePersona" value="#{personasController.selected.clavePersona}" title="#{myBundle.CreatePersonasTitle_clavePersona}" required="true" requiredMessage="#{myBundle.CreatePersonasRequiredMessage_clavePersona}" size="20" maxlength="20"/>

                        <p:outputLabel value="#{myBundle.CreatePersonasLabel_idTipoEstado}" for="idTipoEstado" />
                        <p:selectOneMenu id="idTipoEstado" value="#{personasController.selected.idTipoEstado}" required="true" requiredMessage="#{myBundle.CreatePersonasRequiredMessage_idTipoEstado}" converter="tipoEstadoConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{tipoEstadoController.items}"
                                           var="idTipoEstadoItem"
                                           itemValue="#{idTipoEstadoItem}"
                                           itemLabel="#{idTipoEstadoItem.estadoTipoEstado.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreatePersonasLabel_idTipoUsuario}" for="idTipoUsuario" />
                        <p:selectOneMenu id="idTipoUsuario" value="#{personasController.selected.idTipoUsuario}" required="true" requiredMessage="#{myBundle.CreatePersonasRequiredMessage_idTipoUsuario}" converter="tipoUsuariosConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{tipoUsuariosController.items}"
                                           var="idTipoUsuarioItem"
                                           itemValue="#{idTipoUsuarioItem}"
                                           itemLabel="#{idTipoUsuarioItem.descripcionTipoUsuario.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{personasController.saveNew}" value="#{myBundle.Save}" update="display,:PersonasListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('PersonasCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('PersonasCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
