<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="PersonasEditDlg" widgetVar="PersonasEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditPersonasTitle}" closeOnEscape="true">

            <h:form id="PersonasEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{personasController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditPersonasLabel_idPersona}" for="idPersona" />
                        <h:outputText id="idPersona" value="#{personasController.selected.idPersona}" />

                        <p:outputLabel value="#{myBundle.EditPersonasLabel_cedulaPersona}" for="cedulaPersona" />
                        <p:inputText id="cedulaPersona" value="#{personasController.selected.cedulaPersona}" title="#{myBundle.EditPersonasTitle_cedulaPersona}" required="true" requiredMessage="#{myBundle.EditPersonasRequiredMessage_cedulaPersona}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditPersonasLabel_nombrePersona}" for="nombrePersona" />
                        <p:inputText id="nombrePersona" value="#{personasController.selected.nombrePersona}" title="#{myBundle.EditPersonasTitle_nombrePersona}" required="true" requiredMessage="#{myBundle.EditPersonasRequiredMessage_nombrePersona}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditPersonasLabel_apellidoPersona}" for="apellidoPersona" />
                        <p:inputText id="apellidoPersona" value="#{personasController.selected.apellidoPersona}" title="#{myBundle.EditPersonasTitle_apellidoPersona}" required="true" requiredMessage="#{myBundle.EditPersonasRequiredMessage_apellidoPersona}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditPersonasLabel_direccionPersona}" for="direccionPersona" />
                        <p:inputText id="direccionPersona" value="#{personasController.selected.direccionPersona}" title="#{myBundle.EditPersonasTitle_direccionPersona}" required="true" requiredMessage="#{myBundle.EditPersonasRequiredMessage_direccionPersona}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditPersonasLabel_telefonoPersona}" for="telefonoPersona" />
                        <p:inputText id="telefonoPersona" value="#{personasController.selected.telefonoPersona}" title="#{myBundle.EditPersonasTitle_telefonoPersona}" required="true" requiredMessage="#{myBundle.EditPersonasRequiredMessage_telefonoPersona}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditPersonasLabel_fechaNacimiento}" for="fechaNacimiento" />
                        <p:calendar id="fechaNacimiento" pattern="MM/dd/yyyy" value="#{personasController.selected.fechaNacimiento}" title="#{myBundle.EditPersonasTitle_fechaNacimiento}" required="true" requiredMessage="#{myBundle.EditPersonasRequiredMessage_fechaNacimiento}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditPersonasLabel_tipoPersonaPersona}" for="tipoPersonaPersona" />
                        <p:inputText id="tipoPersonaPersona" value="#{personasController.selected.tipoPersonaPersona}" title="#{myBundle.EditPersonasTitle_tipoPersonaPersona}" required="true" requiredMessage="#{myBundle.EditPersonasRequiredMessage_tipoPersonaPersona}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditPersonasLabel_usuarioPersona}" for="usuarioPersona" />
                        <p:inputText id="usuarioPersona" value="#{personasController.selected.usuarioPersona}" title="#{myBundle.EditPersonasTitle_usuarioPersona}" required="true" requiredMessage="#{myBundle.EditPersonasRequiredMessage_usuarioPersona}" size="20" maxlength="20"/>

                        <p:outputLabel value="#{myBundle.EditPersonasLabel_clavePersona}" for="clavePersona" />
                        <p:inputText id="clavePersona" value="#{personasController.selected.clavePersona}" title="#{myBundle.EditPersonasTitle_clavePersona}" required="true" requiredMessage="#{myBundle.EditPersonasRequiredMessage_clavePersona}" size="20" maxlength="20"/>


                    </p:panelGrid>
                    <p:commandButton actionListener="#{personasController.save}" value="#{myBundle.Save}" update="display,:PersonasListForm:datalist,:PersonasListForm:PersonasDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('PersonasEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('PersonasEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
