<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="PersonasListForm">

        <p:panel header="#{myBundle.ListPersonasTitle}">
            <p:contextMenu id="PersonasDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('PersonasListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('PersonasListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.PersonasMenuItem_idTipoEstado}" icon="ui-icon-search"  actionListener="#{personasController.prepareIdTipoEstado}" update=":TipoEstadoViewForm" oncomplete="PF('TipoEstadoViewDialog').show()" disabled="#{empty personasController.selected.idTipoEstado}"/>  
                <p:menuitem value="#{myBundle.PersonasMenuItem_idTipoUsuario}" icon="ui-icon-search"  actionListener="#{personasController.prepareIdTipoUsuario}" update=":TipoUsuariosViewForm" oncomplete="PF('TipoUsuariosViewDialog').show()" disabled="#{empty personasController.selected.idTipoUsuario}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{personasController.items2}"
                         lazy="false"
                         rowKey="#{item.idPersona}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{personasController.selected}"
                         filteredValue="#{personasController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{personasController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.idPersona}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:viewButton,@form:editButton,@form:deleteButton,@form:PersonasDataTableContextMenu" listener="#{personasController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:viewButton,@form:editButton,@form:deleteButton,@form:PersonasDataTableContextMenu" listener="#{personasController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:viewButton @form:editButton @form:deleteButton" listener="#{personasController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('PersonasListForm:viewButton').click();"/>

<!--                <p:column sortBy="#{item.idPersona}" filterBy="#{item.idPersona}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPersonasTitle_idPersona}"/>
                    </f:facet>
                    <h:outputText value="#{item.idPersona}"/>
                </p:column>-->


                <p:column sortBy="#{item.cedulaPersona}" filterBy="#{item.cedulaPersona}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPersonasTitle_cedulaPersona}"/>
                    </f:facet>
                    <h:outputText value="#{item.cedulaPersona}"/>
                </p:column>


                <p:column sortBy="#{item.nombrePersona}" filterBy="#{item.nombrePersona}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPersonasTitle_nombrePersona}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombrePersona}"/>
                </p:column>


                <p:column sortBy="#{item.apellidoPersona}" filterBy="#{item.apellidoPersona}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPersonasTitle_apellidoPersona}"/>
                    </f:facet>
                    <h:outputText value="#{item.apellidoPersona}"/>
                </p:column>


                <p:column sortBy="#{item.direccionPersona}" filterBy="#{item.direccionPersona}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPersonasTitle_direccionPersona}"/>
                    </f:facet>
                    <h:outputText value="#{item.direccionPersona}"/>
                </p:column>


                <p:column sortBy="#{item.telefonoPersona}" filterBy="#{item.telefonoPersona}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPersonasTitle_telefonoPersona}"/>
                    </f:facet>
                    <h:outputText value="#{item.telefonoPersona}"/>
                </p:column>

                <ui:remove>
                    <p:column sortBy="#{item.fechaNacimiento}" filterBy="#{item.fechaNacimiento}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListPersonasTitle_fechaNacimiento}"/>
                        </f:facet>
                        <h:outputText value="#{item.fechaNacimiento}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.tipoPersonaPersona}" filterBy="#{item.tipoPersonaPersona}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListPersonasTitle_tipoPersonaPersona}"/>
                        </f:facet>
                        <h:outputText value="#{item.tipoPersonaPersona}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.usuarioPersona}" filterBy="#{item.usuarioPersona}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListPersonasTitle_usuarioPersona}"/>
                        </f:facet>
                        <h:outputText value="#{item.usuarioPersona}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.clavePersona}" filterBy="#{item.clavePersona}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListPersonasTitle_clavePersona}"/>
                        </f:facet>
                        <h:outputText value="#{item.clavePersona}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.fechaCreacion}" filterBy="#{item.fechaCreacion}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListPersonasTitle_fechaCreacion}"/>
                        </f:facet>
                        <h:outputText value="#{item.fechaCreacion}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.idTipoEstado.idTipoEstado}" filterBy="#{item.idTipoEstado.idTipoEstado}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListPersonasTitle_idTipoEstado}"/>
                        </f:facet>
                        <h:outputText value="#{item.idTipoEstado.idTipoEstado}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.idTipoUsuario.descripcionTipoUsuario}" filterBy="#{item.idTipoUsuario.descripcionTipoUsuario}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListPersonasTitle_idTipoUsuario}"/>
                        </f:facet>
                        <h:outputText value="#{item.idTipoUsuario.descripcionTipoUsuario}"/>
                    </p:column>
                </ui:remove>

            </p:dataTable>

            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":PersonasViewForm" oncomplete="PF('PersonasViewDialog').show()" disabled="#{empty personasController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":PersonasEditForm" oncomplete="PF('PersonasEditDialog').show()" disabled="#{empty personasController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{personasController.delete}" update=":growl,datalist" disabled="#{empty personasController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>