<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersonasViewDlg" widgetVar="PersonasViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewPersonasTitle}" closeOnEscape="true">

            <h:form id="PersonasViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{personasController.selected != null}">

                        <h:outputText value="#{myBundle.ViewPersonasLabel_idPersona}"/>
                        <h:outputText value="#{personasController.selected.idPersona}" title="#{myBundle.ViewPersonasTitle_idPersona}"/>

                        <h:outputText value="#{myBundle.ViewPersonasLabel_cedulaPersona}"/>
                        <h:outputText value="#{personasController.selected.cedulaPersona}" title="#{myBundle.ViewPersonasTitle_cedulaPersona}"/>

                        <h:outputText value="#{myBundle.ViewPersonasLabel_nombrePersona}"/>
                        <h:outputText value="#{personasController.selected.nombrePersona}" title="#{myBundle.ViewPersonasTitle_nombrePersona}"/>

                        <h:outputText value="#{myBundle.ViewPersonasLabel_apellidoPersona}"/>
                        <h:outputText value="#{personasController.selected.apellidoPersona}" title="#{myBundle.ViewPersonasTitle_apellidoPersona}"/>

                        <h:outputText value="#{myBundle.ViewPersonasLabel_direccionPersona}"/>
                        <h:outputText value="#{personasController.selected.direccionPersona}" title="#{myBundle.ViewPersonasTitle_direccionPersona}"/>

                        <h:outputText value="#{myBundle.ViewPersonasLabel_telefonoPersona}"/>
                        <h:outputText value="#{personasController.selected.telefonoPersona}" title="#{myBundle.ViewPersonasTitle_telefonoPersona}"/>

                        <h:outputText value="#{myBundle.ViewPersonasLabel_fechaNacimiento}"/>
                        <h:outputText value="#{personasController.selected.fechaNacimiento}" title="#{myBundle.ViewPersonasTitle_fechaNacimiento}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewPersonasLabel_tipoPersonaPersona}"/>
                        <h:outputText value="#{personasController.selected.tipoPersonaPersona}" title="#{myBundle.ViewPersonasTitle_tipoPersonaPersona}"/>

                        <h:outputText value="#{myBundle.ViewPersonasLabel_usuarioPersona}"/>
                        <h:outputText value="#{personasController.selected.usuarioPersona}" title="#{myBundle.ViewPersonasTitle_usuarioPersona}"/>

                        <h:outputText value="#{myBundle.ViewPersonasLabel_clavePersona}"/>
                        <h:outputText value="#{personasController.selected.clavePersona}" title="#{myBundle.ViewPersonasTitle_clavePersona}"/>

                        <h:outputText value="#{myBundle.ViewPersonasLabel_fechaCreacion}"/>
                        <h:outputText value="#{personasController.selected.fechaCreacion}" title="#{myBundle.ViewPersonasTitle_fechaCreacion}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewPersonasLabel_idTipoEstado}"/>
                        <h:outputText value="#{personasController.selected.idTipoEstado.estadoTipoEstado}"/>

                        <h:outputText value="#{myBundle.ViewPersonasLabel_idTipoUsuario}"/>
                        <h:outputText value="#{personasController.selected.idTipoUsuario.descripcionTipoUsuario}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('PersonasViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
