<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ES" "http://www.w3.org/TR/html4/loose.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"      
      >
    <f:view contentType="text/html">     
        <h:head>
            <f:facet name="first">
                <meta http-equiv="X-UA-Compatible" content="EmulateIE8" />
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Visitas</title> 
                <!--<f:event type="preRenderView" listener="#{usuariosController.verificarSesion()}"/>-->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            </f:facet>

        </h:head>
        <h:body style="width: 1024px; margin: 0 auto; font-family: sans-serif !important;">
            <p:layout fullPage="true">
                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    <h:link outcome="/menu" value="">
                    </h:link>
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    <footer class="container-fluid">
                        <p style="text-align: center;font-size: 24px;">Uniremington Manizales 2019</p>
                    </footer>
                </p:layoutUnit>
                <p:layoutUnit position="west" size="175" header="Left" collapsible="true">
                    <p:menu>
                        <p:submenu label="Resources">
                            <p:menuitem value="Tipo Usuario Crear" url="tipoUsuarios/crear.xhtml" />
                            <p:menuitem value="Tipo Usuario Listar" url="tipoUsuarios/listar.xhtml" />
                            <p:menuitem value="Documentation" url="http://www.primefaces.org/documentation.html" />
                            <p:menuitem value="Forum" url="http://forum.primefaces.org/" />
                            <p:menuitem value="Themes" url="http://www.primefaces.org/themes.html" />

                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>
                <p:layoutUnit position="center">
                    <ui:insert name="body" id="contenido">


                    </ui:insert> 

                </p:layoutUnit>

            </p:layout>


        </h:body>
    </f:view>
</html>