<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <body>
        <h:form>
            <p:messages autoUpdate="true" showDetail="true"/>
            <h:panelGrid columns="2">
                <p:outputLabel for="txtUsuario" value="Usuario"/>
                <p:inputText id="txtUsuario" value="#{loginController.persona.usuarioPersona}" required="true"/>

                <p:outputLabel for="txtClave" value="Contraseña"/>
                <p:inputText id="txtClave" value="#{loginController.persona.clavePersona}" type="password" required="true"/>

                <h:column/>

                <p:commandButton icon="ui-icon-key" value="Iniciar Sesión" action="#{loginController.iniciarSesion()}" />

            </h:panelGrid>
            <p:separator></p:separator>
        </h:form>
    </body>
</html>
