<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UbicacionCreateDlg" widgetVar="UbicacionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateUbicacionTitle}" closeOnEscape="true">

            <h:form id="UbicacionCreateForm">

                <h:panelGroup id="display" rendered="#{ubicacionController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateUbicacionLabel_latitud}" for="latitud" />
                        <p:inputText id="latitud" value="#{ubicacionController.selected.latitud}" title="#{myBundle.CreateUbicacionTitle_latitud}" required="true" requiredMessage="#{myBundle.CreateUbicacionRequiredMessage_latitud}"/>

                        <p:outputLabel value="#{myBundle.CreateUbicacionLabel_longitud}" for="longitud" />
                        <p:inputText id="longitud" value="#{ubicacionController.selected.longitud}" title="#{myBundle.CreateUbicacionTitle_longitud}" required="true" requiredMessage="#{myBundle.CreateUbicacionRequiredMessage_longitud}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ubicacionController.saveNew}" value="#{myBundle.Save}" update="display,:UbicacionListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UbicacionCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('UbicacionCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
