<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="UbicacionEditDlg" widgetVar="UbicacionEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditUbicacionTitle}" closeOnEscape="true">

            <h:form id="UbicacionEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{ubicacionController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditUbicacionLabel_idUbicacion}" for="idUbicacion" />
                        <h:outputText id="idUbicacion" value="#{ubicacionController.selected.idUbicacion}" />

                        <p:outputLabel value="#{myBundle.EditUbicacionLabel_latitud}" for="latitud" />
                        <p:inputText id="latitud" value="#{ubicacionController.selected.latitud}" title="#{myBundle.EditUbicacionTitle_latitud}" required="true" requiredMessage="#{myBundle.EditUbicacionRequiredMessage_latitud}"/>

                        <p:outputLabel value="#{myBundle.EditUbicacionLabel_longitud}" for="longitud" />
                        <p:inputText id="longitud" value="#{ubicacionController.selected.longitud}" title="#{myBundle.EditUbicacionTitle_longitud}" required="true" requiredMessage="#{myBundle.EditUbicacionRequiredMessage_longitud}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ubicacionController.save}" value="#{myBundle.Save}" update="display,:UbicacionListForm:datalist,:UbicacionListForm:UbicacionDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UbicacionEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('UbicacionEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
