<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    
    <style>
        .ui-panel .ui-panel-titlebar{
            background: #17A2B8;
        }
        
        .ui-datatable{
            border: 2px solid #17A2B8;
        }
    </style>

    <h:form id="UbicacionListForm">

        <p:panel header="#{myBundle.ListUbicacionTitle}">
            <p:contextMenu id="UbicacionDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('UbicacionListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('UbicacionListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('UbicacionListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('UbicacionListForm:deleteButton').click();" icon="ui-icon-trash"/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{ubicacionController.items}"
                         lazy="false"
                         rowKey="#{item.idUbicacion}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{ubicacionController.selected}"
                         filteredValue="#{ubicacionController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{ubicacionController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.idUbicacion}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:UbicacionDataTableContextMenu"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:UbicacionDataTableContextMenu"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('UbicacionListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idUbicacion}" filterBy="#{item.idUbicacion}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUbicacionTitle_idUbicacion}"/>
                    </f:facet>
                    <h:outputText value="#{item.idUbicacion}"/>
                </p:column>


                <p:column sortBy="#{item.latitud}" filterBy="#{item.latitud}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUbicacionTitle_latitud}"/>
                    </f:facet>
                    <h:outputText value="#{item.latitud}"/>
                </p:column>


                <p:column sortBy="#{item.longitud}" filterBy="#{item.longitud}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUbicacionTitle_longitud}"/>
                    </f:facet>
                    <h:outputText value="#{item.longitud}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{ubicacionController.prepareCreate}" update=":UbicacionCreateForm" oncomplete="PF('UbicacionCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":UbicacionViewForm" oncomplete="PF('UbicacionViewDialog').show()" disabled="#{empty ubicacionController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":UbicacionEditForm" oncomplete="PF('UbicacionEditDialog').show()" disabled="#{empty ubicacionController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{ubicacionController.delete}" update=":growl,datalist" disabled="#{empty ubicacionController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>