<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UbicacionViewDlg" widgetVar="UbicacionViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewUbicacionTitle}" closeOnEscape="true">

            <h:form id="UbicacionViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{ubicacionController.selected != null}">

                        <h:outputText value="#{myBundle.ViewUbicacionLabel_idUbicacion}"/>
                        <h:outputText value="#{ubicacionController.selected.idUbicacion}" title="#{myBundle.ViewUbicacionTitle_idUbicacion}"/>

                        <h:outputText value="#{myBundle.ViewUbicacionLabel_latitud}"/>
                        <h:outputText value="#{ubicacionController.selected.latitud}" title="#{myBundle.ViewUbicacionTitle_latitud}"/>

                        <h:outputText value="#{myBundle.ViewUbicacionLabel_longitud}"/>
                        <h:outputText value="#{ubicacionController.selected.longitud}" title="#{myBundle.ViewUbicacionTitle_longitud}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('UbicacionViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
