<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="DescuentosCreatePage" lazy="true">
        <pm:header title="#{myBundles.CreateDescuentosTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundles.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:DescuentosListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="DescuentosCreateForm">

                <h:panelGroup id="display" rendered="#{descuentosController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundles.CreateDescuentosLabel_valorDescuento}" for="valorDescuento" />
                            <p:inputText id="valorDescuento" value="#{descuentosController.selected.valorDescuento}" title="#{myBundles.CreateDescuentosTitle_valorDescuento}" required="true" requiredMessage="#{myBundles.CreateDescuentosRequiredMessage_valorDescuento}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundles.CreateDescuentosLabel_vigenciaDescuento}" for="vigenciaDescuento" />
                            <p:calendar id="vigenciaDescuento" pattern="MM/dd/yyyy" value="#{descuentosController.selected.vigenciaDescuento}" title="#{myBundles.CreateDescuentosTitle_vigenciaDescuento}" required="true" requiredMessage="#{myBundles.CreateDescuentosRequiredMessage_vigenciaDescuento}" showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundles.CreateDescuentosLabel_idProducto}" for="idProducto" />
                            <p:inputText id="idProducto" value="#{descuentosController.selected.idProducto}" title="#{myBundles.CreateDescuentosTitle_idProducto}" required="true" requiredMessage="#{myBundles.CreateDescuentosRequiredMessage_idProducto}"/>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{descuentosController.saveNew}" value="#{myBundles.Save}" update="display,:DescuentosListPage:DescuentosListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:DescuentosListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>