<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="DescuentosEditPage" lazy="true">
        <pm:header title="#{myBundles.EditDescuentosTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundles.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:DescuentosListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="DescuentosEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{descuentosController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{myBundles.EditDescuentosLabel_idDescuentos}" for="idDescuentos" />
                            <h:outputText id="idDescuentos" value="#{descuentosController.selected.idDescuentos}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundles.EditDescuentosLabel_valorDescuento}" for="valorDescuento" />
                            <p:inputText id="valorDescuento" value="#{descuentosController.selected.valorDescuento}" title="#{myBundles.EditDescuentosTitle_valorDescuento}" required="true" requiredMessage="#{myBundles.EditDescuentosRequiredMessage_valorDescuento}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundles.EditDescuentosLabel_vigenciaDescuento}" for="vigenciaDescuento" />
                            <p:calendar id="vigenciaDescuento" pattern="MM/dd/yyyy" value="#{descuentosController.selected.vigenciaDescuento}" title="#{myBundles.EditDescuentosTitle_vigenciaDescuento}" required="true" requiredMessage="#{myBundles.EditDescuentosRequiredMessage_vigenciaDescuento}" showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundles.EditDescuentosLabel_idProducto}" for="idProducto" />
                            <p:inputText id="idProducto" value="#{descuentosController.selected.idProducto}" title="#{myBundles.EditDescuentosTitle_idProducto}" required="true" requiredMessage="#{myBundles.EditDescuentosRequiredMessage_idProducto}"/>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{descuentosController.save}" value="#{myBundles.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:DescuentosListPage:DescuentosListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:DescuentosListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>