<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="DescuentosViewPage" lazy="true">
        <pm:header title="#{myBundles.ViewDescuentosTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundles.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:DescuentosListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="DescuentosViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{descuentosController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundles.ViewDescuentosLabel_idDescuentos}"/>
                            <h:outputText value="#{descuentosController.selected.idDescuentos}" title="#{myBundles.ViewDescuentosTitle_idDescuentos}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundles.ViewDescuentosLabel_valorDescuento}"/>
                            <h:outputText value="#{descuentosController.selected.valorDescuento}" title="#{myBundles.ViewDescuentosTitle_valorDescuento}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundles.ViewDescuentosLabel_vigenciaDescuento}"/>
                            <h:outputText value="#{descuentosController.selected.vigenciaDescuento}" title="#{myBundles.ViewDescuentosTitle_vigenciaDescuento}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundles.ViewDescuentosLabel_idProducto}"/>
                            <h:outputText value="#{descuentosController.selected.idProducto}" title="#{myBundles.ViewDescuentosTitle_idProducto}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>