<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="ProductosCreatePage" lazy="true">
        <pm:header title="#{myBundles.CreateProductosTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundles.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:ProductosListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="ProductosCreateForm">

                <h:panelGroup id="display" rendered="#{productosController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundles.CreateProductosLabel_nombreProducto}" for="nombreProducto" />
                            <p:inputText id="nombreProducto" value="#{productosController.selected.nombreProducto}" title="#{myBundles.CreateProductosTitle_nombreProducto}" required="true" requiredMessage="#{myBundles.CreateProductosRequiredMessage_nombreProducto}" size="50" maxlength="50"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundles.CreateProductosLabel_referenciaProducto}" for="referenciaProducto" />
                            <p:inputText id="referenciaProducto" value="#{productosController.selected.referenciaProducto}" title="#{myBundles.CreateProductosTitle_referenciaProducto}" required="true" requiredMessage="#{myBundles.CreateProductosRequiredMessage_referenciaProducto}" size="50" maxlength="50"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundles.CreateProductosLabel_precioProducto}" for="precioProducto" />
                            <p:inputText id="precioProducto" value="#{productosController.selected.precioProducto}" title="#{myBundles.CreateProductosTitle_precioProducto}" required="true" requiredMessage="#{myBundles.CreateProductosRequiredMessage_precioProducto}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundles.CreateProductosLabel_descripcionProducto}" for="descripcionProducto" />
                            <p:inputText id="descripcionProducto" value="#{productosController.selected.descripcionProducto}" title="#{myBundles.CreateProductosTitle_descripcionProducto}" required="true" requiredMessage="#{myBundles.CreateProductosRequiredMessage_descripcionProducto}" size="255" maxlength="255"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundles.CreateProductosLabel_idCategoria}" for="idCategoria" />
                            <p:selectOneMenu id="idCategoria" value="#{productosController.selected.idCategoria}" required="true" requiredMessage="#{myBundles.CreateProductosRequiredMessage_idCategoria}" converter="categoriasConverter">
                                <f:selectItem itemLabel="#{myBundles.SelectOneMessage}"/>
                                <f:selectItems value="#{categoriasController.items}"
                                               var="idCategoriaItem"
                                               itemValue="#{idCategoriaItem}"
                                               itemLabel="#{idCategoriaItem.idCategoria.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{productosController.saveNew}" value="#{myBundles.Save}" update="display,:ProductosListPage:ProductosListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:ProductosListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>