<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="ProductosViewPage" lazy="true">
        <pm:header title="#{myBundles.ViewProductosTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundles.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:ProductosListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="ProductosViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{productosController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundles.ViewProductosLabel_idProducto}"/>
                            <h:outputText value="#{productosController.selected.idProducto}" title="#{myBundles.ViewProductosTitle_idProducto}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundles.ViewProductosLabel_nombreProducto}"/>
                            <h:outputText value="#{productosController.selected.nombreProducto}" title="#{myBundles.ViewProductosTitle_nombreProducto}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundles.ViewProductosLabel_referenciaProducto}"/>
                            <h:outputText value="#{productosController.selected.referenciaProducto}" title="#{myBundles.ViewProductosTitle_referenciaProducto}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundles.ViewProductosLabel_precioProducto}"/>
                            <h:outputText value="#{productosController.selected.precioProducto}" title="#{myBundles.ViewProductosTitle_precioProducto}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundles.ViewProductosLabel_descripcionProducto}"/>
                            <h:outputText value="#{productosController.selected.descripcionProducto}" title="#{myBundles.ViewProductosTitle_descripcionProducto}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundles.ViewProductosLabel_idCategoria}"/>
                            <h:outputText value="#{productosController.selected.idCategoria.idCategoria}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>