<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PromocionesCreateDlg" widgetVar="PromocionesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreatePromocionesTitle}" closeOnEscape="true">

            <h:form id="PromocionesCreateForm">

                <h:panelGroup id="display" rendered="#{promocionesController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreatePromocionesLabel_valorPromocion}" for="valorPromocion" />
                        <p:inputText id="valorPromocion" value="#{promocionesController.selected.valorPromocion}" title="#{myBundle.CreatePromocionesTitle_valorPromocion}" required="true" requiredMessage="#{myBundle.CreatePromocionesRequiredMessage_valorPromocion}"/>

                        <p:outputLabel value="#{myBundle.CreatePromocionesLabel_vigenciaPromocion}" for="vigenciaPromocion" />
                        <p:calendar id="vigenciaPromocion" pattern="MM/dd/yyyy" value="#{promocionesController.selected.vigenciaPromocion}" title="#{myBundle.CreatePromocionesTitle_vigenciaPromocion}" required="true" requiredMessage="#{myBundle.CreatePromocionesRequiredMessage_vigenciaPromocion}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreatePromocionesLabel_idCategoria}" for="idCategoria" />
                        <p:selectOneMenu id="idCategoria" value="#{promocionesController.selected.idCategoria}" required="true" requiredMessage="#{myBundle.CreatePromocionesRequiredMessage_idCategoria}" converter="categoriasConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{categoriasController.items}"
                                           var="idCategoriaItem"
                                           itemValue="#{idCategoriaItem}"
                                           itemLabel="#{idCategoriaItem.idCategoria.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton styleClass="create" actionListener="#{promocionesController.saveNew}" value="#{myBundle.Save}" update="display,:PromocionesListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('PromocionesCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton styleClass="cancel" value="#{myBundle.Cancel}" oncomplete="PF('PromocionesCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
