<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="PromocionesEditDlg" widgetVar="PromocionesEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditPromocionesTitle}" closeOnEscape="true">

            <h:form id="PromocionesEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{promocionesController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditPromocionesLabel_idPromocion}" for="idPromocion" />
                        <h:outputText id="idPromocion" value="#{promocionesController.selected.idPromocion}" />

                        <p:outputLabel value="#{myBundle.EditPromocionesLabel_valorPromocion}" for="valorPromocion" />
                        <p:inputText id="valorPromocion" value="#{promocionesController.selected.valorPromocion}" title="#{myBundle.EditPromocionesTitle_valorPromocion}" required="true" requiredMessage="#{myBundle.EditPromocionesRequiredMessage_valorPromocion}"/>

                        <p:outputLabel value="#{myBundle.EditPromocionesLabel_vigenciaPromocion}" for="vigenciaPromocion" />
                        <p:calendar id="vigenciaPromocion" pattern="MM/dd/yyyy" value="#{promocionesController.selected.vigenciaPromocion}" title="#{myBundle.EditPromocionesTitle_vigenciaPromocion}" required="true" requiredMessage="#{myBundle.EditPromocionesRequiredMessage_vigenciaPromocion}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditPromocionesLabel_idCategoria}" for="idCategoria" />
                        <p:selectOneMenu id="idCategoria" value="#{promocionesController.selected.idCategoria}" required="true" requiredMessage="#{myBundle.EditPromocionesRequiredMessage_idCategoria}" converter="categoriasConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{categoriasController.items}"
                                           var="idCategoriaItem"
                                           itemValue="#{idCategoriaItem}"
                                           itemLabel="#{idCategoriaItem.idCategoria.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton styleClass="cancel" actionListener="#{promocionesController.save}" value="#{myBundle.Save}" update="display,:PromocionesListForm:datalist,:PromocionesListForm:PromocionesDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('PromocionesEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton styleClass="cancel" value="#{myBundle.Cancel}" oncomplete="PF('PromocionesEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
