<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PromocionesViewDlg" widgetVar="PromocionesViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewPromocionesTitle}" closeOnEscape="true">

            <h:form id="PromocionesViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{promocionesController.selected != null}">

                        <h:outputText value="#{myBundle.ViewPromocionesLabel_idPromocion}"/>
                        <h:outputText value="#{promocionesController.selected.idPromocion}" title="#{myBundle.ViewPromocionesTitle_idPromocion}"/>

                        <h:outputText value="#{myBundle.ViewPromocionesLabel_valorPromocion}"/>
                        <h:outputText value="#{promocionesController.selected.valorPromocion}" title="#{myBundle.ViewPromocionesTitle_valorPromocion}"/>

                        <h:outputText value="#{myBundle.ViewPromocionesLabel_vigenciaPromocion}"/>
                        <h:outputText value="#{promocionesController.selected.vigenciaPromocion}" title="#{myBundle.ViewPromocionesTitle_vigenciaPromocion}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewPromocionesLabel_idCategoria}"/>
                        <h:outputText value="#{promocionesController.selected.idCategoria.idCategoria}"/>
                    </p:panelGrid>
                    <p:commandButton styleClass="cancel" value="#{myBundle.Close}" onclick="PF('PromocionesViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
